@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@model TblProductModel
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;
    List<TblProductCategory> optCategory = (List<TblProductCategory>)ViewData["optCategory"];
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
        });
    </script>
}

<div class="page">
    <div class="page-content container-fluid">
        @if (ViewBag.Alert != null)
        {
            <div class="row">
                <div class="col-12">
                    @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @(Model.ModelId > 0 ? "แก้ไข" : "เพิ่ม")รุ่น
                            <span class="panel-desc">รายละเอียดรุ่นสินค้า</span>
                        </h3>
                    </div>
                    <form method="post" action="@Url.Action("Detail", "ProductModel")" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ModelId" value="@Model.ModelId" />
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="ModelName" class="form-control-label">ชื่อรุ่น</label>
                                        <input type="text" class="form-control" name="ModelName" value="@Model.ModelName" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="CategoryId" class="form-control-label">หมวดหมู่สินค้า</label>
                                        <select class="form-control" name="CategoryId">
                                            @foreach (TblProductCategory it in optCategory)
                                            {
                                                bool selected = it.CategoryId == Model.CategoryId;
                                                <option value="@it.CategoryId" @(selected ? " selected=\"selected\"" : "")>@it.CategoryName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label for="ModelOrder" class="form-control-label">ลำดับการแสดงผล</label>
                                        <input type="number" class="form-control" name="ModelOrder" value="@Model.ModelOrder" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">บันทึก</button>&nbsp;
                                        <a href="@Url.Action("Index", "ProductModel")" class="btn btn-default">ยกเลิก</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>