@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models

@model TblPayment
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;

    List<TblBankAccount>
    optBankAccount = (List<TblBankAccount>
    )ViewData["optBankAccount"];
    List<TblEmployee>
    optEmployee = (List<TblEmployee>
    )ViewData["optEmployee"];
    SysAccount sysAccount = (SysAccount
    )ViewData["userAccount"];
    AccountPermission optPermission = (AccountPermission
    )ViewData["optPermission"];
    bool canedit = false;
    bool CheckStatus3 = false;
    if (Model.StatusId != 3 && Model.StatusId != 4)
    {
        CheckStatus3 = true;
    }
    if (optPermission.IsEdit)
    {
        canedit = true;
    }


}
@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />



}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">

        var _contact = [];

        $(document).ready(function () {

            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);

            $(PaymentMenu).slideToggle();

        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
         $('.btnSearchSaleOrder').click(function () {


            $('.divSaleOrder').empty();
            var html = '';
            html += '<table class="table table-hover">';
            html += '<thead> ';
            html += '<tr>';
            html += '<th>กรุณาเลือก</th>';
            html += '<th>เลขใบแจ้งหนี้</th>';
            html += '<th>จำนวนเงิน</th>';
            html += '<th>งวดที่</th>';
            html += '<th>วันครบกำหนดชำระ</th>';
            html += '<th>สร้างโดย</th>';
            html += '<th>วันที่สร้าง</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';



            var url = '@Url.Action("GetInvoiceListByCondition", "Invoice")';
                   $.ajax({
                type: "get",
                url: url,
                       data: { startDate: $("#SaleOrderStartDate").val(), toDate: $("#SaleOrderEndDate").val(), statusId: "2" },
                       success: function (obj) {
                           $.each(obj, function (index, item) {

                               html += '<tr invoiceid=' + item.InvoiceId + ' invoiceno=' + item.InvoiceNo + ' invoiceterm=' + item.InvoiceTerm + ' conditionid=' + item.ConditionId + '>';
                               html += '<td><button type="button" class="btn btn-primary btnSellectSaleOrder">เลิอก</button></td>';
                               html += '<td>' + item.InvoiceNo + '</td>';
                               html += '<td>' + item.InvoiceAmount + '</td>';
                               html += '<td>' + item.InvoiceTerm + '</td>';
                               html += '<td>' + item.StrDueDate + '</td>';
                               html += '<td>' + item.CreatedByName + '</td>';
                               html += '<td>' + item.StrInvoiceDate + '</td>';
                               html += '</tr>';
                           });

                           html += '</tbody>';
                           html += '</table>';
                           html += ' </div>';


                           $('.divSaleOrder').append(html);
                           $('.divSaleOrder table').DataTable();
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                           alert(errorThrown);
                           //or you can put jqXHR.responseText somewhere as complete response. Its html.
                       }
                   });




        });
            var ConditionId = 0;
            var InvoiceTerm = 0;
            $(document).on("click", ".btnSellectSaleOrder", function () {
             $('#InvoiceId').val($(this).closest('tr').attr('invoiceid'));
             $('#InvoiceNo').val($(this).closest('tr').attr('invoiceno'));
            InvoiceTerm = $(this).closest('tr').attr('invoiceterm');
            ConditionId = $(this).closest('tr').attr('conditionId');
                var PdfDepInvoice = '@Url.Action("PDFDepositInvoice", new { controller = "export", area = "" })';
                var PdfInvoice = '@Url.Action("PDFInvoice", new { controller = "export", area = "" })';
                PdfDepInvoice = PdfDepInvoice + '/' + $(this).closest('tr').attr('invoiceid');
                PdfInvoice = PdfInvoice + '/' + $(this).closest('tr').attr('invoiceid');
                if (ConditionId == 3 || ConditionId == 4 || ConditionId == 5) {
                    if (InvoiceTerm == 1) {
                        $('.btnexpinvoice').attr('href', PdfDepInvoice);
                    }
                    else {
                        $('.btnexpinvoice').attr('href', PdfInvoice);
                    }
                }
                else {
                    $('.btnexpinvoice').attr('href', PdfInvoice);
                }
            
            
             $('#InvoiceModal').modal('hide');



               });

        $("#btnConfirm").click(function () {

            KeepData();
            //var isConfirm = AddInvoiceValidation();
            var isConfirm = true;


            if (isConfirm) {
                swal({
                    title: "Approve",
                    text: "Do you want to Approve this payment?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#hdApprove').val(3);
                            $('#frmMain').attr('action', '@Url.Action("Detail", "Payment")');
                            $('#frmMain').submit();

                        }
                    });
            }
            return false;


            /*  selProduct
              ProductQty
              ProductPrice
              ProductDiscount
              */
        });
        $("#btnSubmit").click(function () {

            KeepData();
            var isConfirm = AddInvoiceValidation();
            if (isConfirm) {

                 swal({
                    title: "Save",
                    text: "Do you want to Save this payment?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                           $('#frmMain').submit();

                        }
                    });
               

            }
            return false;
        });
        function KeepData() {

            var selected = 0;

            //$("#selIsDeposit:checked").each(function () {

            //    selected = 1;
            //});
            //$("#hddIsDeposit").val(selected);


        }
        function AddInvoiceValidation() {
            var chkValidate = true;
            if ($("#selSaleOrder").val() == "") {
                $("#selSaleOrder").addClass("has-error");
                chkValidate = false;
            } else {
                $("#selSaleOrder").removeClass("has-error");
            }
            var bankacct = $("#radio_bankaccount").val();
            if (bankacct == "") {
                $("#radio_bankaccount").addClass("has-error");
                chkValidate = false;
            } else {
                $("#radio_bankaccount").removeClass("has-error");
            }


            var value = $('select#StatusId option:selected').val();
           // var invoiceid = $("#InvoiceId").val();
            var invAmt = parseFloat($("#PaymentAmount").val()).toFixed(2);
            if (value == 2) {
                if ($("#InvoiceNo").val() == "") {
                    $("#InvoiceNo").addClass("has-error");
                    chkValidate = false;
                } else {
                    $("#InvoiceNo").removeClass("has-error");
                }
                if ($("#CustomerName").val() == "") {
                    $("#CustomerName").addClass("has-error");
                    chkValidate = false;
                } else {
                    $("#CustomerName").removeClass("has-error");
                }
                if ($("#PaymentDate").val() == "") {
                    $("#PaymentDate").addClass("has-error");
                    chkValidate = false;
                } else {
                    $("#PaymentDate").removeClass("has-error");
                }
                if (invAmt > 0) {
                    $("#PaymentAmount").removeClass("has-error");
                } else {
                    $("#PaymentAmount").addClass("has-error");
                    chkValidate = false;
                }

            }

            return chkValidate;

        }

    </script>
}

<body data-spy="scroll" data-target="#myTap" data-offset="300">

    <div class="page">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", new { controller = "Payment", area = "" })" })">ย้อนกลับ</a></li>
            </ol>
        </div>
        <div class="page-content container-fluid">
            @if (ViewBag.Alert != null)
            {
                <div class="row">
                    <div class="col-12">
                        @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                @(Model.PaymentId > 0 ? "แก้ไข" : "เพิ่ม")เอกสาร
                                <span class="panel-desc">รายการชำระเงิน</span>
                            </h3>
                            <table width="100%" style="margin: -50px 30px 0 0; float:right;">
                                <tr>
                                    <td align="right">
                                        <div style="text-align:right;">
                                            @{




                                            }


                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div style="clear:both;"></div>

                        </div>

                        <div class="panel">
                            <form method="post" id="frmMain" name="frmMain" action="@Url.Action("Detail", "Payment")" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="PaymentId" value="@Model.PaymentId" />
                                <input type="hidden" id="hdApprove" name="hdApprove" />
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @if (Model.InvoiceId <= 0 || Model.InvoiceId == null)
                                            {
                                                <a class="btn btn-xs btn-warning btnexpinvoice  pull-right" style="color:#FFF;padding-top:10px;" target="_blank">
                                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                                </a>
                                            }
                                            else
                                            {
                                                if (Model.Invoice.ConditionId == 3 || Model.Invoice.ConditionId == 4 || Model.Invoice.ConditionId == 5)
                                                {
                                                    if (Model.Invoice.InvoiceTerm == 1)
                                                    {
                                                        <a href="@Url.Action("PDFDepositInvoice", new { controller = "export", area = "", id = Model.InvoiceId })"
                                                           class="btn btn-xs btn-warning btnexpinvoice pull-right" style="color:#FFF;padding-top:10px;" target="_blank">
                                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                                        </a>

                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("PDFInvoice", new { controller = "export", area = "", id = Model.InvoiceId })"
                                                           class="btn btn-xs btn-warning btnexpinvoice pull-right" style="color:#FFF;padding-top:10px;" target="_blank">
                                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("PDFInvoice", new { controller = "export", area = "", id = Model.InvoiceId })"
                                                       class="btn btn-xs btn-warning  pull-right" style="color:#FFF;padding-top:10px;" target="_blank">
                                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>>&nbsp;PDF
                                                    </a>

                                                }
                                            }

                                        </div>

                                    </div>
                                    <div class="row">
                                        @*Left panel*@
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="InvNo" class="col-md-8 col-sm-12 col-form-label">เลขที่การชำระเงิน</label>
                                                <div class="col-sm-8">
                                                    <input type="text" placeholder="บันทึกเพื่อสร้าง" class="form-control" value="@Model.PaymentNo" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="QuotationNo" class="col-md-8 col-sm-12 col-form-label">เลขที่ใบแจ้งหนี้</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">

                                                        @{
                                                            var sq = "";

                                                            if (Model.InvoiceId != null)
                                                            {
                                                                sq = Model.InvoiceNo;
                                                            }
                                                        }

                                                        <input type="text" placeholder="" class="form-control" id="InvoiceNo" name="InvoiceNo" value="@sq" readonly />
                                                        <input type="hidden" id="InvoiceId" name="InvoiceId" value="@Model.InvoiceId" />
                                                        <input type="hidden" id="ConditionId" name="ConditionId" value="" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary btn-primary" type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#InvoiceModal"
                                                                    @*data-target="#SaleOrderModal"*@
                                                                    id="button-invoice"
                                                                    @*id="button-quotation"*@
                                                                    @(CheckStatus3 ? "" : "disabled")>
                                                                ...
                                                            </button>
                                                          
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-8 col-sm-12 col-form-label">ชื่อผู้โอน</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control text-right" value="@Model.CustomerName" id="CustomerName" name="CustomerName" @(CheckStatus3 ? "" : "readonly") />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="InvoiceAmount" class="col-sm-8 col-form-label">ยอดเงิน</label>
                                                <div class="input-group col-sm-8">
                                                    <span class="input-group-addon">
                                                        <i class="icon wb-payment  icon-2-5x text-danger" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control text-right" name="PaymentAmount" id="PaymentAmount" value="@Model.PaymentAmount" @(CheckStatus3 ? "" : "readonly") />

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-8 col-sm-12 col-form-label">ธนาคารต้นทาง</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" value="@Model.BankPayFrom" id="BankPayFrom" name="BankPayFrom" @(CheckStatus3 ? "" : "readonly") />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Remark" class="col-sm-8 col-form-label">ธนาคารที่รับโอนเงิน</label>
                                                <div class="radio-custom radio-primary">
                                                    <ul style="list-style-type:none;">
                                                        @foreach (TblBankAccount ac in optBankAccount)
                                                        {
                                                            <li>
                                                                @if (ac.Type.ToLower() == "transfer")
                                                                {
                                                                    <input type="radio" id="radio_bankaccount" value="@ac.AcctId" class="SendToDepartment" name="radio_bankaccount" @(Model.AcctReceiveId == null || Model.AcctReceiveId == 0 ? "Checked" : Model.AcctReceiveId == ac.AcctId ? "Checked" : "") @(CheckStatus3 ? "" : "disabled") />
                                                                    <label class="col-sm-12" for="radio_bankaccount">@ac.Bank @ac.Branch <br /> ชื่อบัญชี : @ac.AcctName  เลขบัญชี : @ac.AcctNo</label>
                                                                }
                                                                else if (ac.Type.ToLower() == "cheque")
                                                                {
                                                                    <input type="radio" id="radio_bankaccount" value="@ac.AcctId" class="SendToDepartment" name="radio_bankaccount" @(Model.AcctReceiveId == ac.AcctId ? "Checked" : "") @(CheckStatus3 ? "" : "disabled") />
                                                                    <label class="col-sm-12" for="radio_bankaccount">เช็คสั่งจ่าย @ac.AcctName</label>
                                                                }
                                                                else
                                                                {

                                                                }
                                                            </li>
                                                            <br />
                                                        }
                                                    </ul>

                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label for="PaySlipPath" class="col-sm-8 col-form-label">หลักฐานการโอน</label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input type="file" class="form-control" name="PaySlipPath" @(CheckStatus3 ? "" : "disabled") />
                                                    @if (!string.IsNullOrWhiteSpace(Model.StrPaySlipPath))
                                                    {
                                                        <span class="help-block"><a href="@Url.Content("~/" + Model.StrPaySlipPath)" target="_blank">กดที่นี่</a> เพื่อดูหลักฐานการชำระเงิน</span>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                        @*Right panel*@
                                        <div class="col-md-6 col-sm-8">
                                            <div class="form-group">
                                                <label for="CreateDate" class="col-sm-5 col-form-label">วันที่สร้าง</label>
                                                <div class="input-group col-md-8 col-sm-12">
                                                    <input type="text" class="form-control" name="CreatedDate" value="@Model.StrCreatedDate" readonly />
                                                    <span class="input-group-addon">
                                                        <i class="icon wb-calendar icon-2-5x text-success" aria-hidden="true"></i>
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="UpdatedDate" class="col-sm-5 col-form-label">วันที่ปรับปรุงล่าสุด</label>
                                                <div class="input-group col-md-8 col-sm-12">
                                                    <input type="text" class="form-control" name="UpdatedDate" value="@Model.StrUpdatedDate" readonly />
                                                    <span class="input-group-addon">
                                                        <i class="icon wb-calendar icon-2-5x text-success" aria-hidden="true"></i>
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="SaleName" class="col-sm-5 col-form-label">สร้างโดย</label>
                                                <div class="input-group col-md-8 col-sm-12">
                                                    @{
                                                        string createName = "";

                                                        foreach (TblEmployee it in optEmployee)
                                                        {
                                                            bool selected = it.AccountId == (Model.CreatedBy == 0 ? (sysAccount.TblEmployee != null ? sysAccount.TblEmployee.AccountId : 0) : Model.CreatedBy);
                                                            if (selected)
                                                            {
                                                                createName = it.EmpNameTh;
                                                            }
                                                        }
                                                    }
                                                    <input type="text" class="form-control" value="@createName" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="PaymentDate" class="col-sm-5 col-form-label">วันที่โอน</label>
                                                <div class="input-group col-md-8 col-sm-12 date" data-provide="@(CheckStatus3 ? "datepicker" : "")" data-date-format="dd/mm/yyyy">
                                                    <input id="PaymentDate" type="text" class="form-control" placeholder="dd/MM/yyyy ค.ศ." name="PaymentDate"
                                                           value="@Model.StrPaymentDate" readonly />
                                                    <span class="input-group-addon">
                                                        <i class="icon wb-calendar icon-2-5x text-success" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-5 col-form-label">สาขาธนาคารต้นทาง</label>
                                                <div class="input-group col-md-8 col-sm-12">
                                                    <input type="text" class="form-control" value="@Model.BankPayFromBranch" id="BankPayFromBranch" name="BankPayFromBranch" @(CheckStatus3 ? "" : "readonly")/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Remark" class="col-sm-6 col-form-label">สถานะ</label>
                                                <div class="col-md-8 col-sm-12">
                                                    <select name="StatusId" id="StatusId" class="form-control" @(CheckStatus3 ? "" : "disabled")>
                                                        <option class="text-muted" value="1" @(Model.StatusId == 1 ? " selected=\" selected\"" : "" )>สร้าง</option>
                                                        <option class="text-primary" value="2" @(Model.StatusId == 2 ? " selected=\" selected\"" : "" )>รอการอนุมัติ</option>
                                                        @if (Model.StatusId == 3)
                                                        {
                                                            <option class="text-success" value="3" @(Model.StatusId == 3 ? " selected=\" selected\"" : "" )>จ่ายแล้ว</option>
                                                        }
                                                        <option class="text-danger" value="4" @(Model.StatusId == 4 ? " selected=\" selected\"" : "" )>ยกเลิก</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                @if (CheckStatus3)
                                                {
                                                    if (optPermission.IsEdit)
                                                    {
                                                    <button type="submit" class="btn btn-primary btnSubmit" id="btnSubmit" name="btnSubmit">บันทึก</button>
                                                    }
                                                }
                                                &nbsp;<a href="@Url.Action("Index", "Payment" )" class="btn btn-default">ยกเลิก</a>
                                                &nbsp;
                                                @if (CheckStatus3)
                                                {
                                                    //if(optPermission.IsManager && optPermission.IsEdit && Model.StatusId==2)
                                                    if (optPermission.IsManager && Model.StatusId == 2)
                                                    {
                                                    <button type="submit" id="btnConfirm" class="btn btn-success btnConfirm"> อนุมัติ </button>
                                                    }
                                                }
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="InvoiceModal" tabindex="-1" role="dialog" aria-labelledby="ค้นหา" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbCustomerId" hidden></label></h5>
                    <h2><label id="lbCustomerName">เลือก ใบแจ้งหนี้</label></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="SaleOrderStartDate" class="form-control-label">จากวันที่</label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input id="SaleOrderStartDate" type="text" class="form-control"
                                           placeholder="dd/MM/yyyy ค.ศ."
                                           name="SaleOrderStartDate"
                                           value=""
                                           @*value="@DateTime.Now.ToString("dd/MM/yyyy")"*@ 
                                           />
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="SaleOrderEndDate" class="form-control-label">ถึงวันที่</label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input id="SaleOrderEndDate" type="text" class="form-control"
                                           placeholder="dd/MM/yyyy ค.ศ."
                                           name="SaleOrderEndDate"
                                           value=""
                                           @*value="@DateTime.Now.ToString("dd/MM/yyyy")"*@ 
                                           />
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">

                            <button class="btn btn-outline-secondary btn-primary btnSearchSaleOrder" style="margin-top:34px" type="button"
                                    id="btnSearchSaleOrder">
                                ค้นหา
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="table-responsive divSaleOrder">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>กรุณาเลือก</th>
                                            <th>รายการ</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>



                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>

</body>
