@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@using Kemrex.Core.Common.Helper

@model TransferHeader
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;

    List<TblCustomer>
    optCustomer = (List<TblCustomer>
        )ViewData["optCustomer"];
    List<TblCustomerAddress>
        optCustomerAddress = (List<TblCustomerAddress>
            )ViewData["optCustomerAddress"];
    List<TblQuotationDetail>
        optQtDetail = (List<TblQuotationDetail>
            )ViewData["optQtDetail"];
    List<TblProduct>
    optProduct = (List<TblProduct>
        )ViewData["optProduct"];
    List<TblCustomerContact>
    optContact = (List<TblCustomerContact>
    )ViewData["optContact"];
    List<TblEmployee>
    optEmployee = (List<TblEmployee>
    )ViewData["optEmployee"];
    AccountPermission optPermission = (AccountPermission
    )ViewData["optPermission"];

    var canEdit = false;
}

@section Styles {

    <link href="~/themes/RemarkClassicBase/css/bootstrap-datepicker.min.css" rel="stylesheet" />

}

@section Scripts {
    <script src="~/themes/RemarkClassicBase/js/Plugin/bootstrap-datepicker.min.js"></script>

    <script src="~/themes/RemarkClassicBase/js/Plugin/datepair.js"></script>
    <script src="~/themes/RemarkClassicBase/js/Plugin/bootstrap-datepicker.js"></script>

    <script type="text/javascript">

        var _contact = [];

        $(document).ready(function () {

            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);


            $("form:first").validate({
                highlight: function (element) {
                    $(element).parents('.form-group').addClass('has-error');
                    $(element).parents('.input-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).parents('.form-group').removeClass('has-error');
                    $(element).parents('.input-group').removeClass('has-error');
                }, messages: {
                    JobOrderNo: {
                        required: "",
                    },
                }
            });


            $('.datepair-date').datepicker({
                startDate: '-3d',
                format: "mm/dd/yyyy"
            });

            if (getUrlVars()["tab"] == "Product") {
                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');
                $("#tab-2").addClass('current');
                $("li[data-tab='tab-2']").addClass('current');
              //  data-tab="tab-2"

            }


            $(EngineerMenu).slideToggle();


            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

       //     var tab = TabPages.init('myTabPage');
            //tab.selectTab('navInfo');

          //  var myTabElement = new TabPages('myTabPage');
          //  myTabElement.initTabs();
         //   myTabElement.selectTab('navInfo');



            calDiscount();
        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function calDiscount() {
            var st = document.getElementById("SummaryTot").value.replace(",","");
            var dc = document.getElementById("DiscountCash").value.replace(",", "");
            if (dc > 0)
            {
                document.getElementById("SummaryTot").value = numeral(st - dc).format('0,0.00');
            }
        }

        // Get CustomerAddress by customer id
        function getAddress(e) {
           var _customerAddress = [];
            var myArray = [];
            var id = document.getElementById("CustomerId").value;
            @foreach (var d in optCustomerAddress.ToArray())
            {
                @:myArray.push("@d.CustomerId:@d.AddressId:@d.AddressName-@d.AddressText");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
                if (i[0] == id)
                    _customerAddress.push(e);
            })
            return _customerAddress.toString();
        }

        // Get CustomerContact by customer id
        function getContact(e) {

            var myArray = [];
            var con = [];
            var id = document.getElementById("CustomerId").value;
            @foreach (var d in optContact.ToArray())
            {
                @:myArray.push("@d.CustomerId:@d.ContactId:@d.ContactName:@d.ContactPhone:@d.ContactEmail");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
                if (i[0] == id)
                    con.push(e);
            })
            return con.toString();
        }
        // Modal customer address
        function showSelectModal(addr,name) {
            var id = document.getElementById("CustomerId").value;

            document.getElementById("lbCustomerId").innerText = id;
            document.getElementById("lbCustomerName").innerText = document.getElementById("CustomerName").value;

            var msg = "";
            var a = addr.split(',');

            if (a != "") {
                a.forEach(function (e) {
                    var x = e.split(':');
                    msg += '<tr> ';

                    msg += '<td>';
                    msg += '<input type="hidden" name="AddressId" value=\'' + x[1] + '\' />';
                    msg += ' <a data-dismiss="modal" onclick="setSelectToText(\'' + name + '\',\'' + x[2] + '\')"';
                    msg += ' class="btn btn-info btn-sm" " style="color:white;">';
                    msg += ' เลือก';
                    msg += '  </a>';
                    msg += '</td >';
                    msg += '<td>' + x[2] + ' </td>  ';
                    msg += '</tr>';
                }
                );
            } else {
                msg = "<h4>ไม่พบข้อมูล</h4>";
            }
            //alert(msg);
            document.getElementById("manageCustomerAddress").innerHTML = msg;
        }
        function setSelectToText(name, val) {
            //  alert(name + ' ' + val);
            document.getElementById(name).value = val;

            // Set phone and email
            if (name == "ContractName")
            {

                var i = _contact.split(',');
                i.forEach(function (e) {
                    x = e.split(':');
                    if (x[2]==val)
                    {
                        setSelectToText("ContractPhone", x[3]);
                        setSelectToText("ContractEmail", x[4]);
                    }
                })

            }
        }



        function AddrValidation() {
            var chkValidate = true;
            if ($("#CustomerId").val() == "") {
                $("#CustomerId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#CustomerId").removeClass("has-error");
            }






            return chkValidate;

        }


        function ValidationAll() {

            var selected=[];
            var chkValidate = true;
            if ($("#CustomerId").val() == "") {
                $("#CustomerId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#CustomerId").removeClass("has-error");
            }

            if ($("#BillingAddress").val() == "") {
                $("#BillingAddress").addClass("has-error");
                chkValidate = false;
            } else {
                $("#BillingAddress").removeClass("has-error");
            }


            if ($("#DeliveryDate").val() == "") {
                $("#DeliveryDate").addClass("has-error");
                chkValidate = false;
            } else {
                $("#BilliDeliveryDatengAddress").removeClass("has-error");
            }



            $('.CarType:checked').each(function () {
                selected.push($(this).val());
            });
            $("#CarType").val(selected.join(","));
            selected = [];

            $('.SendToDepartment:checked').each(function () {
                selected.push($(this).val());
            });
            $("#SendToDepartment").val(selected.join(","));




            return chkValidate;

        }



        function AddProductValidation() {

           /* selProduct
            ProductQty
            ProductPrice
            ProductDiscount*/

            var chkValidate = true;


            if ($("#selProduct").val() == "") {
                $("#selProduct").addClass("has-error");
                chkValidate = false;
            } else {
                $("#RequestQty").removeClass("has-error");
            }

            if ($("#RequestQty").val() == "") {
                $("#RequestQty").addClass("has-error");
                chkValidate = false;
            } else {
                $("#RequestQty").removeClass("has-error");
            }





            return chkValidate;

        }


        // Event

        $("#CustomerId").change(function () {
            var id = document.getElementById("CustomerId").value;
            document.getElementById("CustomerName").value = $(this).find("option:selected").text();
        })

        $("#SaleId").change(function () {
            var id = document.getElementById("SaleId").value;
            document.getElementById("SaleName").value = $(this).find("option:selected").text();
        })

        $("#button-BillingAddress").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "show";
            document.getElementById("bnAddnewContact").style.display = "none";
            showSelectModal(getAddress(), "BillingAddress");
            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
        })
        $("#button-ShippingAddress").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "show";
            document.getElementById("bnAddnewContact").style.display = "none";
            showSelectModal(getAddress(), "ShippingAddress");
            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
        })




        $("#button-contact").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "none";
            document.getElementById("bnAddnewContact").style.display = "show";
            _contact = getContact();
            showSelectModal(_contact, "ContractName");


            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
         //   #AddressModal
        })




        $(document).on("click", ".btnSelectJobOrder", function () {
            $('#JobOrderId').val($(this).closest('tr').attr('data'));
            $('#JobOrderNo').val($(this).closest('td').next().html());
            $('#JobOrderModal').modal('hide');
        });

        $("#btnSearchJobOrder").click(function () {
              $('.divSearch').empty();
            var html = '';
            html += '<table class="table table-hover">';
            html += '<thead> ';
            html += '<tr>';
            html += '<th>กรุณาเลือก</th>';
            html += '<th>ใบสั่งงาน</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';



            var url = '@Url.Action("GetJobOrderByDate", "TransferOut")';
                   $.ajax({
                type: "get",
                url: url,
                       data: { startDate: $("#JobStartDate").val(), toDate: $("#JobEndDate").val() },
                       success: function (obj) {
                           $.each(obj, function (index, item) {

                               html += '<tr data=' + item.JobOrderId +'>';
                               html += '<td><button type="button" class="btn btn-primary btnSelectJobOrder">เลิอก</button></td>';
                               html += '<td>' + item.JobOrderNo + '</td>';
                               html += '</tr>';
                           });

                           html += '</tbody>';
                           html += '</table>';
                           html += ' </div>';


                           $('.divSearch').append(html);
                           $('.divSearch table').DataTable();
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                           alert(errorThrown);
                           //or you can put jqXHR.responseText somewhere as complete response. Its html.
                       }
                   });


        });

        $("#btnAddProduct").click(function () {

              swal({
                    title: "Save Product",
                    text: "Do you want to Update?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                             $('#frmmain').attr('action', '@Url.Action("AddProduct", "TransferOut")');
                            $('#frmmain').submit();

                        }
                   });



            
              
         
          
            return false;

           

            //tblProduct

        });


        $("#btnApprove").click(function () {

             swal({
                    title: "Approve",
                    text: "Do you want to Approve?",
                    type: "success",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#frmmain').attr('action', '@Url.Action("Approve", "TransferOut")');
                            $('#frmmain').submit();

                        }
                   });



            
              
         
          
            return false;


             

            //tblProduct

        });
        $("#btnNextStep").click(function () {


            if (ValidationAll()) {
                swal({
                    title: "Save",
                    text: "Do you want to Save?",
                    type: "success",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                           
                            $('#frmmain').submit();

                        }
                    });




            }
         
          
            return false;



  
        });


        $("#btnPull").click(function () {


            if (ValidationAll()) {
                swal({
                    title: "Importing",
                    text: "Do you want to import?",
                    type: "success",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            
                            $('#TransferStatus').val(0);
                            $('#frmmain').submit();

                        }
                    });




            }


            return false;




        });





        // Product section
        $("#selProduct").change(function () {
            var dt = document.getElementById("selProduct").value;
            var price = 0;
            var p = dt.split(':');
            if (p[1] != null) {
                price = parseFloat(p[1]);
            }
            document.getElementById("ProductQty").value = 1;
            document.getElementById("ProductPrice").value = price;
            document.getElementById("ProductDiscount").value = 0;
        })

        $("#button-EditCustomerAddress").click(function () {
            var id = document.getElementById("CustomerId").value;
            document.getElementById("caCustomerId").value = id;
            document.getElementById("lbcaCustomerName").innerHTML = document.getElementById("lbCustomerName").innerText;
        });
    </script>
}

<style type="text/css">

    ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            background: #ededed;
        }

            ul.tabs li.current {
                background: #ffffff;
                color: #222;
            }

    .tab-content {
        display: none;
        background: #ffffff;
        padding: 15px;
    }

        .tab-content.current {
            display: inherit;
        }

    .input-daterange .input-group {
        float: left;
        width: 50%;
    }
</style>

<body data-spy="scroll" data-target="#myTap" data-offset="300">


    <form method="post" id="frmmain" action="@Url.Action("SetDetail", "TransferOut")" enctype="multipart/form-data">

        @if (Model.TransferStatus < 1)
        {
            canEdit = true;
        }
        <div class="page">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", new { controller = "TransferOut", area = "" })" })">ย้อนกลับ</a></li>
                </ol>
            </div>
            <div class="page-content container-fluid">
                @if (ViewBag.Alert != null)
                {
                    <div class="row">
                        <div class="col-12">
                            @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                        </div>
                    </div>
                }


                <div class="row">
                    <div class="col-12">

                        <div class="panel">


                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @(Model.TransferId > 0 ? "แก้ไข" : "เพิ่ม")ใบนำวัสดุออก
                                    <span class="panel-desc">รายละเอียดใบนำวัสดุออก</span>
                                </h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-4">
                                        <label class="col-md-3 form-control-label">เลขที่  : </label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="TransferNo"
                                                   value="@Model.TransferNo"  readonly
                                                   name="TransferNo" placeholder="กรุณากรอกเลขที่ (ปล่อยว่าง จะแสดงเล่มที่ อัตโนมัติ)">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-md-3 form-control-label">ใบสั่งงาน  : </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="hidden" id="JobOrderId" name="JobOrderId" value="@Model.JobOrderId" />
                                                <input type="text" class="form-control" id="JobOrderNo" name="JobOrderNo" value="@(Model.JobOrder!=null ? Model.JobOrder.JobOrderNo:"")" required readonly />

                                                @if (canEdit && Model.TransferId <=0)
                                                {
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary btn-primary"
                                                                data-toggle="modal"
                                                                data-target="#JobOrderModal"
                                                                type="button"
                                                                id="btnJobOrderId">
                                                            ...
                                                        </button>
                                                    </div>
                                                    <button class="btn btn-outline-secondary btn-warning btnPull" type="button"
                                                            id="btnPull">
                                                        ดึงข้อมูล
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </div>




                                </div>
                              
                            </div>

                        </div>
                    </div>
                </div>

                <div data-tabs="myTabPage">

                    <ul class="tabs">
                        <li class="tab-link current" data-tab="tab-1">ข้อมูลพื้นฐาน</li>
                        @if (Model.JobOrderId > 0)
                        {
                            <li class="tab-link" data-tab="tab-2">รายการสินค้า</li>
                        }
                    </ul>

                    <div id="tab-1" class="tab-content current">

                        <div class="card-block" id="navInfo" data-tab-page="navInfo">

                            <div class="col-12">
                                <table width="100%" style="margin:-10px 0 0 0;">
                                    <tr>
                                        <td align="right">
                                            <div style="text-align:right;">
                                                <a href="@Url.Action("PDFTransferOut", new { controller = "export", area = "", id = Model.TransferId })"
                                                   class="btn btn-xs btn-warning" target="_blank">
                                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="panel">

                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="TransferId" name="TransferId" value="@Model.TransferId" />
                                    <input type="hidden" id="TransferStatus" name="TransferStatus" value="@Model.TransferStatus" />
                                    <div class="panel-body">
                                        <div class="row">
                                            @*Left panel*@
                                            <div class="col-md-6">



                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">วันที่  :</label>
                                                    <div class="col-md-9">
                                                        <div class="example datepair-wrap" data-plugin="datepair">
                                                            <div class="input-daterange-wrap">
                                                                <div class="input-daterange">
                                                                    <div class="input-group">

                                                                        <input type="text"
                                                                               class="form-control datepair-date datepair-start"
                                                                               id="TransferDate" autocomplete="off"
                                                                               name="TransferDate" @(canEdit ? "" : "readonly")
                                                                               value="@(Model.TransferDate ==null ? Converting.ToDDMMYYYY(DateTime.Now) :Converting.ToDDMMYYYY(Model.TransferDate)) "
                                                                               data-plugin="datepicker">
                                                                        <span class="input-group-addon">
                                                                            <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div class="input-group">

                                                                        <input type="text" id="TransferTime"
                                                                               name="TransferTime" class="form-control datepair-time datepair-start"
                                                                               value="@Model.TransferTime" autocomplete="off" @(canEdit ? "" : "readonly")
                                                                               data-plugin="timepicker" />
                                                                        <span class="input-group-addon">
                                                                            <i class="icon wb-time icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">อนุญาติให้  : </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="EmpId" @(canEdit ? "" : "readonly")
                                                               value="@Model.EmpId"
                                                               name="EmpId" placeholder="กรุณากรอกชื่อ/ตำแหน่ง">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">บริษัท/ห้างร้าน :</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               value="@Model.Company" @(canEdit ? "" : "readonly")
                                                               id="Company" name="Company" placeholder="Kemrex">
                                                    </div>
                                                </div>
                                            </div>

                                            @*Right panel*@

                                            <div class="col-md-5 col-sm-8">





                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">ไปยัง  : </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" @(canEdit ? "" : "readonly")
                                                               value="@Model.ReceiveTo"
                                                               id="ReceiveTo" name="ReceiveTo" placeholder="กรุณากรอกข้อมูล">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">เพื่อ  : </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               value="@Model.Reason" @(canEdit ? "" : "readonly")
                                                               id="Reason" name="Reason" placeholder="ติดตั้งฐานราก Kemrex ปรับระดับ">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">โดยรถประเภท  : </label>
                                                    <div class="col-md-9">
                                                        <div class="radio-custom radio-primary">
                                                            <ul>
                                                                @{
                                                                    bool selected = false;
                                                                    if (Model.CarType == 1)
                                                                    {
                                                                        selected = true;
                                                                    }
                                                                    else
                                                                    {
                                                                        selected = false;
                                                                    }



                                                                    <li>
                                                                        <input type="radio" id="inputRadiosChecked" value="1" class="CarType" name="inputRadios" @(selected ? "Checked" : "") />
                                                                        <label class="col-md-3" for="inputRadiosChecked">รถกระบะ</label>
                                                                    </li>
                                                                    if (Model.CarType == 2)
                                                                    {
                                                                        selected = true;
                                                                    }
                                                                    else { selected = false; }


                                                                    <li>
                                                                        <input type="radio" id="inputRadiosChecked" value="2" class="CarType" name="inputRadios" @(selected ? "Checked" : "") />
                                                                        <label class="col-md-3" for="inputRadiosChecked">รถบรรทุก</label>
                                                                        <input type="text" class="col-md-3" name=" " placeholder=" ">ล้อ
                                                                    </li>
                                                                    if (Model.CarType == 3)
                                                                    {
                                                                        selected = true;
                                                                    }
                                                                    else { selected = false; }

                                                                    <li>
                                                                        <input type="radio" id="inputRadiosChecked" value="3" class="CarType" name="inputRadios" @(selected ? "Checked" : "") />
                                                                        <label class="col-md-6" for="inputRadiosChecked">รถเทรลเลอร์</label>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" id="CarType" name="CarType" value="@Model.CarType" />
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">ทะเบียนเลขที่  : </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" value="@Model.CarNo" id="CarNo" name="CarNo" @(canEdit ? "" : "readonly") placeholder="กรุณากรอกทะเบียนรถ">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">ยี่ห้อ  : </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="CarBrand" value="@Model.CarBrand" name="CarBrand" @(canEdit ? "" : "readonly") placeholder="กรุณากรอกยี่ห้อ">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label">ส่วนงานที่นำวัสดุ/สิ่งของ เข้า โรงงาน  : </label>
                                                    <div class="col-md-9">
                                                        <div class="radio-custom radio-primary">
                                                            <ul>
                                                                @{
                                                                    selected = false;
                                                                    if (Model.SendToDepartment == 1)
                                                                    {
                                                                        selected = true;
                                                                    }
                                                                    else
                                                                    {
                                                                        selected = false;
                                                                    }

                                                                    <li>
                                                                        <input type="radio" id="inputRadiosChecked2" value="1" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                        <label class="col-md-3" for="inputRadiosChecked2">Office</label>
                                                                    </li>

                                                                    if (Model.SendToDepartment == 2)
                                                                    {
                                                                        selected = true;
                                                                    }
                                                                    else
                                                                    {
                                                                        selected = false;
                                                                    }

                                                                    <li>
                                                                        <input type="radio" id="inputRadiosChecked2" value="2" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                        <label class="col-md-3" for="inputRadiosChecked2">Engineer</label>

                                                                    </li>

                                                                    if (Model.SendToDepartment == 3)
                                                                    {
                                                                        selected = true;
                                                                    }
                                                                    else
                                                                    {
                                                                        selected = false;
                                                                    }

                                                                    <li>
                                                                        <input type="radio" id="inputRadiosChecked2" value="3" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                        <label class="col-md-6" for="inputRadiosChecked2">Factory</label>
                                                                    </li>

                                                                    if (Model.SendToDepartment == 4)
                                                                    {
                                                                        selected = true;
                                                                    }
                                                                    else
                                                                    {
                                                                        selected = false;
                                                                    }
                                                                    <li>
                                                                        <input type="radio" id="inputRadiosChecked2" value="4" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                        <label class="col-md-6" for="inputRadiosChecked2">Warehouse</label>
                                                                    </li>

                                                                    if (Model.SendToDepartment == 5)
                                                                    {
                                                                        selected = true;
                                                                    }
                                                                    else
                                                                    {
                                                                        selected = false;
                                                                    }
                                                                    <li>
                                                                        <input type="radio" id="inputRadiosChecked2" value="5" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                        <label class="col-md-6" for="inputRadiosChecked2">Other</label>
                                                                        <textarea class="form-control" id="Remark" name="Remark" value="@Model.Remark" rows="3"></textarea>
                                                                    </li>
                                                                }
                                                            </ul>

                                                            <input type="hidden" id="SendToDepartment" name="SendToDepartment" value="@Model.SendToDepartment" @(canEdit ? "" : "readonly") />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-content">

                        <div class="card-block" id="navProducts" data-tab-page="navProducts">
                            <div class="col-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            รายการสินค้า&nbsp;
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-striped tblProduct">
                                                        <thead>
                                                            <tr>
                                                                <th>ลำดับที่</th>
                                                                <th>สินค้า</th>
                                                                <th>จำนวนที่ขาย</th>
                                                                <th>จำนวนที่เบิก</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @if (Model.JobOrder == null)
                                                            {
                                                                <tr>
                                                                    <td colspan="7">ไม่พบข้อมูล</td>
                                                                </tr>
                                                            }
                                                            @{int row = 1;

                                                                if (Model.TransferDetail != null && Model.TransferDetail.Count > 0)
                                                                {

                                                                    foreach (var ob in Model.TransferDetail)
                                                                    {
                                                                        <tr>
                                                                            <td>@row</td>
                                                                            <td width="50%">@ob.Product.ProductCode @ob.Product.ProductName</td>
                                                                            <td width="30%">
                                                                                <input type="hidden" name="currentQty" class="currentQty" value="@ob.CurrentQty" />
                                                                                @ob.CurrentQty
                                                                            </td>
                                                                            <td>
                                                                                <input type="hidden" name="ProductIds" class="ProductIds" value="@ob.Product.ProductId" />
                                                                                <input type="text" name="RequestQtys" class="form-control RequestQtys"
                                                                                       value="@ob.RequestQty" @(canEdit ? "" : "readonly")
                                                                                       placeholder="">
                                                                            </td>


                                                                        </tr>
                                                                        row++;
                                                                    }


                                                                }
                                                                else if (Model.JobOrder != null
&& Model.JobOrder.JobOrderDetail != null
&& Model.JobOrder.JobOrderDetail.Count > 0)
                                                                {
                                                                    foreach (var ob in Model.JobOrder.JobOrderDetail)
                                                                    {
                                                                        <tr>
                                                                            <td>@row</td>
                                                                            <td width="50%">@ob.Product.ProductCode @ob.Product.ProductName</td>
                                                                            <td width="30%">
                                                                                <input type="hidden" name="currentQty" class="currentQty" value="@ob.Quantity" />
                                                                                @ob.Quantity
                                                                            </td>
                                                                            <td>
                                                                                <input type="hidden" name="ProductIds" class="ProductIds" value="@ob.Product.ProductId" />
                                                                                <input type="text" name="RequestQtys" class="form-control RequestQtys"
                                                                                       value="" @(canEdit ? "" : "readonly")
                                                                                       placeholder="">
                                                                            </td>


                                                                        </tr>
                                                                        row++;
                                                                    }
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-12">
                                                @if (canEdit)
                                                {
                                                    <button type="submit" id="btnAddProduct" class="btn btn-primary pull-right">บันทึกรายการเบิก</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                @if (canEdit)
                                {
                                    if (Model.TransferId > 0)
                                    {
                                        if (optPermission.IsEdit)
                                        {
                                            <button type="submit" id="btnNextStep" class="btn btn-primary">@(Model.TransferId > 0 ? "บันทึก" : "ต่อไป")</button>
                                        }
                                    }
                                    if (Model.TransferId > 0 && optPermission.IsEdit)
                                    {
                                        <button type="submit" id="btnApprove" class="btn btn-success">อนุมัติ</button>
                                    }
                                }
                                <a href="@Url.Action("Index", new { controller = "TransferOut", area = "" })" class="btn btn-default">ยกเลิก</a>
                            </div>
                        </div>
                    </div>
                    </div>

</form>




    @*Panel Address*@
    <div class="card-block" data-tab-page="navAddress">

    </div>
    @*End Panel Address*@

    @*panel Add Product*@


    @*End panel Add product*@
    </div>
    </div>
    </div>

    <!-- Address Modal -->
    <div class="modal fade" id="JobOrderModal" tabindex="-1" role="dialog" aria-labelledby="ค้นหาใบสั่งงาน" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbCustomerId" hidden></label></h5>
                    <h2><label id="lbCustomerName">เลือก ใบสั่งงาน</label></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="JobStartDate" class="form-control-label">จากวันที่</label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input id="JobStartDate" type="text"
                                           value="@Converting.ToDDMMYYYY(DateTime.Now)"
                                           class="form-control" placeholder="dd/MM/yyyy ค.ศ." name="JobStartDate" />
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="JobEndDate" class="form-control-label">ถึงวันที่</label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input id="JobEndDate" type="text" 
                                             value="@Converting.ToDDMMYYYY(DateTime.Now)"
                                           class="form-control" placeholder="dd/MM/yyyy ค.ศ." name="JobEndDate" />
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">

                            <button class="btn btn-outline-secondary btn-primary btnSearchJobOrder" style="margin-top:34px" type="button"
                                    id="btnSearchJobOrder">
                                ค้นหา
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="table-responsive divSearch">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>กรุณาเลือก</th>
                                            <th>รายการ</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>



                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>

</body>
