@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@using Kemrex.Core.Common.Helper

@model TransferHeader
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;

    List<TblCustomer>
    optCustomer = (List<TblCustomer>
        )ViewData["optCustomer"];
    List<TblCustomerAddress>
        optCustomerAddress = (List<TblCustomerAddress>
            )ViewData["optCustomerAddress"];
    List<TblQuotationDetail>
        optQtDetail = (List<TblQuotationDetail>
            )ViewData["optQtDetail"];
    List<TblProduct>
    optProduct = (List<TblProduct>
        )ViewData["optProduct"];
    List<TblCustomerContact>
    optContact = (List<TblCustomerContact>
    )ViewData["optContact"];
    List<TblEmployee>
    optEmployee = (List<TblEmployee>
    )ViewData["optEmployee"];

    SysAccount sysAccount = (SysAccount
)ViewData["userAccount"];
    AccountPermission optPermission = (AccountPermission
    )ViewData["optPermission"];




    var canEdit = false;
}

@section Styles {

    <link href="~/themes/RemarkClassicBase/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    
    <style type="text/css">

        /* Customize the label (the container) */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    </style>

}

@section Scripts {
    <script src="~/themes/RemarkClassicBase/js/Plugin/bootstrap-datepicker.min.js"></script>

    <script src="~/themes/RemarkClassicBase/js/Plugin/datepair.js"></script>
    <script src="~/themes/RemarkClassicBase/js/Plugin/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        var _contact = [];
        var objSelectHeaderAll = [];
        var objSelectDetailAll = [];
        $(document).ready(function () {

            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);

            $("form:first").validate({
                highlight: function (element) {
                    $(element).parents('.form-group').addClass('has-error');
                    $(element).parents('.input-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).parents('.form-group').removeClass('has-error');
                    $(element).parents('.input-group').removeClass('has-error');
                }, messages: {
                    RefTransferNo: {
                        required: "",
                    },
                }
            });

            $('.datepair-date').datepicker({
                startDate: '-3d',
                format: "mm/dd/yyyy"
            });

            if (getUrlVars()["tab"] == "Product") {
                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');
                $("#tab-2").addClass('current');
                $("li[data-tab='tab-2']").addClass('current');
              //  data-tab="tab-2"

            }


            $(EngineerMenu).slideToggle();


            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })




            $('.divTranferOut table > tbody').find('tr').each(function () {
                var row = $(this);
                objSelect = {};
                objSelect.TransferId = row.attr("title");
                objSelect.TransferNo = row.find('td').eq(0).text();
                objSelectHeaderAll.push(objSelect);
            });

          //  alert(objSelectHeaderAll)

                //     var tab = TabPages.init('myTabPage');
                //tab.selectTab('navInfo');

                //  var myTabElement = new TabPages('myTabPage');
                //  myTabElement.initTabs();
                //   myTabElement.selectTab('navInfo');



                calDiscount();
            });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function calDiscount() {
            var st = document.getElementById("SummaryTot").value.replace(",","");
            var dc = document.getElementById("DiscountCash").value.replace(",", "");
            if (dc > 0)
            {
                document.getElementById("SummaryTot").value = numeral(st - dc).format('0,0.00');
            }
        }

        // Get CustomerAddress by customer id
        function getAddress(e) {
           var _customerAddress = [];
            var myArray = [];
            var id = document.getElementById("CustomerId").value;
            @foreach (var d in optCustomerAddress.ToArray())
            {
                @:myArray.push("@d.CustomerId:@d.AddressId:@d.AddressName-@d.AddressText");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
                if (i[0] == id)
                    _customerAddress.push(e);
            })
            return _customerAddress.toString();
        }

        // Get CustomerContact by customer id
        function getContact(e) {

            var myArray = [];
            var con = [];
            var id = document.getElementById("CustomerId").value;
            @foreach (var d in optContact.ToArray())
            {
                @:myArray.push("@d.CustomerId:@d.ContactId:@d.ContactName:@d.ContactPhone:@d.ContactEmail");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
                if (i[0] == id)
                    con.push(e);
            })
            return con.toString();
        }
        // Modal customer address
        function showSelectModal(addr,name) {
            var id = document.getElementById("CustomerId").value;

            document.getElementById("lbCustomerId").innerText = id;
            document.getElementById("lbCustomerName").innerText = document.getElementById("CustomerName").value;

            var msg = "";
            var a = addr.split(',');

            if (a != "") {
                a.forEach(function (e) {
                    var x = e.split(':');
                    msg += '<tr> ';

                    msg += '<td>';
                    msg += '<input type="hidden" name="AddressId" value=\'' + x[1] + '\' />';
                    msg += ' <a data-dismiss="modal" onclick="setSelectToText(\'' + name + '\',\'' + x[2] + '\')"';
                    msg += ' class="btn btn-info btn-sm" " style="color:white;">';
                    msg += ' เลือก';
                    msg += '  </a>';
                    msg += '</td >';
                    msg += '<td>' + x[2] + ' </td>  ';
                    msg += '</tr>';
                }
                );
            } else {
                msg = "<h4>ไม่พบข้อมูล</h4>";
            }
            //alert(msg);
            document.getElementById("manageCustomerAddress").innerHTML = msg;
        }
        function setSelectToText(name, val) {
            //  alert(name + ' ' + val);
            document.getElementById(name).value = val;

            // Set phone and email
            if (name == "ContractName")
            {

                var i = _contact.split(',');
                i.forEach(function (e) {
                    x = e.split(':');
                    if (x[2]==val)
                    {
                        setSelectToText("ContractPhone", x[3]);
                        setSelectToText("ContractEmail", x[4]);
                    }
                })

            }
        }



        function AddrValidation() {
            var chkValidate = true;
            if ($("#CustomerId").val() == "") {
                $("#CustomerId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#CustomerId").removeClass("has-error");
            }






            return chkValidate;

        }


        function ValidationAll() {

            var selected=[];
            var chkValidate = true;
            if ($("#CustomerId").val() == "") {
                $("#CustomerId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#CustomerId").removeClass("has-error");
            }

            if ($("#BillingAddress").val() == "") {
                $("#BillingAddress").addClass("has-error");
                chkValidate = false;
            } else {
                $("#BillingAddress").removeClass("has-error");
            }


            if ($("#DeliveryDate").val() == "") {
                $("#DeliveryDate").addClass("has-error");
                chkValidate = false;
            } else {
                $("#BilliDeliveryDatengAddress").removeClass("has-error");
            }



            $('.CarType:checked').each(function () {
                selected.push($(this).val());
            });
            $("#CarType").val(selected.join(","));
            selected = [];

            $('.SendToDepartment:checked').each(function () {
                selected.push($(this).val());
            });
            $("#SendToDepartment").val(selected.join(","));




            return chkValidate;

        }



        function AddProductValidation() {

           /* selProduct
            ProductQty
            ProductPrice
            ProductDiscount*/

            var chkValidate = true;


            if ($("#selProduct").val() == "") {
                $("#selProduct").addClass("has-error");
                chkValidate = false;
            } else {
                $("#RequestQty").removeClass("has-error");
            }

            if ($("#RequestQty").val() == "") {
                $("#RequestQty").addClass("has-error");
                chkValidate = false;
            } else {
                $("#RequestQty").removeClass("has-error");
            }





            return chkValidate;

        }


        // Event

        $("#CustomerId").change(function () {
            var id = document.getElementById("CustomerId").value;
            document.getElementById("CustomerName").value = $(this).find("option:selected").text();
        })

        $("#SaleId").change(function () {
            var id = document.getElementById("SaleId").value;
            document.getElementById("SaleName").value = $(this).find("option:selected").text();
        })

        $("#button-BillingAddress").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "show";
            document.getElementById("bnAddnewContact").style.display = "none";
            showSelectModal(getAddress(), "BillingAddress");
            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
        })
        $("#button-ShippingAddress").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "show";
            document.getElementById("bnAddnewContact").style.display = "none";
            showSelectModal(getAddress(), "ShippingAddress");
            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
        })




        $("#button-contact").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "none";
            document.getElementById("bnAddnewContact").style.display = "show";
            _contact = getContact();
            showSelectModal(_contact, "ContractName");


            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
         //   #AddressModal
        })




        $(document).on("click", "#btnRefTransfer", function () {

            $('.divSearch table > tbody').empty();
          //  $('#RefTransferId').val($(this).closest('tr').attr('data'));
         //   $('#RefTransferNo').val($(this).closest('td').next().html());
           $('#JobOrderModal').modal('show');
        });


        $(document).on("click", ".btnSelectItem", function () {

       //   var chkAll=  $('.divSearch table').find('input[type="checkbox"]:checked');
            var objSelect = {};
         //   objSelectHeaderAll = [];

            $('.divTranferOut table > tbody').empty();
            $('.divSearch table').find('tr').each(function () {
                var row = $(this);
                if (row.find('input[type="checkbox"]').is(':checked') ) {
                    objSelect = {};

                    objSelect.TransferId = row.find('input[type="checkbox"]').attr("title");
                    objSelect.TransferNo = row.find('td:eq(1)')[0].innerText;

                    objSelectHeaderAll.push(objSelect);
                }
            });

            LoadTransferout(objSelectHeaderAll);


            $('#JobOrderModal').modal('hide');
        });

        $(document).on("click", ".btnTransferDelete", function () {


            var row = $(this).closest("tr");
            var data = $.grep(objSelectHeaderAll, function (e) {
                return e.TransferId != row.attr("title");
            });
            objSelectHeaderAll = data;
            LoadTransferout(objSelectHeaderAll);

            return false;
        });

        var transferRef = '';
        function LoadTransferout(objTransferList) {

              var urlLoadProduct = '@Url.Action("GetProductFromTransfer", "TransferIn")';
            var html = '';
            html += "<tbody>";

          

            for (var key in objSelectHeaderAll) {
                var item = objSelectHeaderAll[key];
                html += '<tr title=' + item.TransferId + '>';
                html += '<td>' + item.TransferNo + '</td>';
                html += '<td><button class="btn btn-danger btn-xs btnTransferDelete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;ลบ</button></td>';
                html += '</tr>';

                transferRef += item.TransferId + ',';
            }


            html += "</tbody>";
            $('.divTranferOut table > tbody').empty();

            $('.divTranferOut table').append(html);

            transferRef = transferRef.substring(0, transferRef.length-1);
            //tblProduct


            html = '';
            html += "<tbody>";
            $.get(urlLoadProduct, { "transferIds": transferRef }, function (data) {
                var row = 1
                var objProductTemp;


                $('.tblProduct > tbody > tr').each(function () {

                    objProductTemp = objSelectDetailAll.filter(o => o.TransferId == $(this).attr('TransferId')
                        && o.ProductId == $(this).attr('ProductId'));

                    if (objProductTemp != null && objProductTemp.length > 0) {
                        objProductTemp[0].RequestQty = $(this).find('.RequestQtys').val();
                    }

                });


                if (objSelectDetailAll != null && objSelectDetailAll.length == 0) {

                    objSelectDetailAll = data;
                } else {

                    $.each(data, function (index, item) {

                        objProductTemp = objSelectDetailAll.filter(o => o.TransferId == item.TransferId
                            && o.ProductId == item.ProductId);

                        if (objProductTemp != null && objProductTemp.length > 0) {
                            item.RequestQty = objProductTemp[0].RequestQty
                        }

                    });

                    objSelectDetailAll = data;

                }
                $.each(objSelectDetailAll, function (index, item) {
                    html += '<tr TransferId=' + item.TransferId + ' ProductId=' + item.ProductId+'>';
                    html += '<td width="5%">' + row + '</td>';
                    html += '<td width="10%">' + item.TransferNo + '</td>';

                    html += '<td width="50%">' + item.Product.ProductCode + ' ' + item.Product.ProductName + '</td>';
                    html += '<td  width="15%"><input type="hidden" name="currentQty" class="currentQty" value="' + item.CurrentQty + '" />' + item.CurrentQty +'</td>';
                    html += '<td  width="20%"><input type="text" name="RequestQtys" class="RequestQtys" value="' + item.RequestQty + '" />';
                    html += ' <input type="hidden" name="ProductIds" class="ProductIds" value="' + item.ProductId + '"  />';
                    html += ' <input type="hidden" name="TransferIds" class="TransferIds" value="' + item.TransferId + '"  />';
                    html += '</td>';
                    html += '<tr>';

                    row++;

                });



                html += "</tbody>";
                $('.tblProduct > tbody').empty();

                $('.tblProduct').append(html);


                $('ul.tabs li[data-tab="tab-2"]').trigger('click');

            });

        }

        $("#btnSearchJobOrder").click(function () {
              $('.divSearch').empty();
            var html = '';
            html += '<table class="table table-hover">';
            html += '<thead> ';
            html += '<tr>';
            html += '<th>กรุณาเลือก</th>';
            html += '<th>ใบนำวัสดุออก</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';



            var url = '@Url.Action("GetTransferOutByDate", "TransferIn")';



                   $.ajax({
                type: "get",
                url: url,
                       data: { startDate: $("#JobStartDate").val(), toDate: $("#JobEndDate").val() },
                       success: function (obj) {
                           var objFilter = obj;

                           if (objSelectHeaderAll != null && objSelectHeaderAll.length)
                            objFilter = $.grep(obj, function (e) {
                                return objSelectHeaderAll.filter(o => o.TransferId == e.TransferId).length == 0;//e.TransferId != row.attr("title");
                           });
                           $.each(objFilter, function (index, item) {

                               html += '<tr data=' + item.TransferId + '>';
                             //  html += '<td><button type="button" class="btn btn-primary btnRefTransfer">เลิอก</button></td>';
                               html += '<td><label class="container"><input type = "checkbox" title="' + item.TransferId+'" ><span class="checkmark"></span></label > </td>';
                               html += '<td>' + item.TransferNo + '</td>';
                               html += '</tr>';
                           });

                           html += '</tbody>';
                           html += '</table>';
                           html += ' </div>';


                           $('.divSearch').append(html);
                           $('.divSearch table').DataTable();
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                           alert(errorThrown);
                           //or you can put jqXHR.responseText somewhere as complete response. Its html.
                       }
                   });


        });

        $("#btnAddProduct").click(function () {


            var url ='@Url.Action("AddProduct", "TransferIn")';

      
            var isConfirm = false;
            swal({
                title: "Add Product",
                text: "Do you want to add product?",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {

                        $('#frmmain').attr('action', '@Url.Action("AddProduct", "TransferIn")');
                        $('#frmmain').submit();
                    }
                });

            return false;


            //tblProduct

        });


        $("#btnApprove").click(function () {

            var isConfirm = false;
            swal({
                title: "Approve",
                text: "Do you want to approve?",
                type: "success",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {

                        $('#frmmain').attr('action', '@Url.Action("Approve", "TransferIn")');
                        $('#frmmain').submit();

                    }
                });

            return false;
            

            //tblProduct

        });
        $("#btnNextStep").click(function () {


              var isConfirm = false;
            swal({
                title: "SAVE",
                text: "Do you want to save?",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {

                        if (ValidationAll()) {
                             $('#frmmain').attr('action', '@Url.Action("SetDetail", "TransferIn")');
                        $('#frmmain').submit();

                        }
                       

                    }
                });

            return false;

          
        });



          $("#btnPull").click(function () {


              var isConfirm = false;
            swal({
                title: "Importing",
                text: "Do you want to import?",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {

                        if (ValidationAll()) {
                            $('#RefTransferIds').val(transferRef);

                             $('#frmmain').attr('action', '@Url.Action("SetDetail", "TransferIn")');
                        $('#frmmain').submit();

                        }
                       

                    }
                });

            return false;

          
        });




        // Product section
        $("#selProduct").change(function () {
            var dt = document.getElementById("selProduct").value;
            var price = 0;
            var p = dt.split(':');
            if (p[1] != null) {
                price = parseFloat(p[1]);
            }
            document.getElementById("ProductQty").value = 1;
            document.getElementById("ProductPrice").value = price;
            document.getElementById("ProductDiscount").value = 0;
        })

        $("#button-EditCustomerAddress").click(function () {
            var id = document.getElementById("CustomerId").value;
            document.getElementById("caCustomerId").value = id;
            document.getElementById("lbcaCustomerName").innerHTML = document.getElementById("lbCustomerName").innerText;
        });
    </script>
}

<style type="text/css">

    ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            background: #ededed;
        }

            ul.tabs li.current {
                background: #ffffff;
                color: #222;
            }

    .tab-content {
        display: none;
        background: #ffffff;
        padding: 15px;
    }

        .tab-content.current {
            display: inherit;
        }

    .input-daterange .input-group {
        float: left;
        width: 50%;
    }
</style>

<body data-spy="scroll" data-target="#myTap" data-offset="300">


    <form method="post" id="frmmain" action="@Url.Action("SetDetail", "TransferIn")" enctype="multipart/form-data">

        @if (Model.TransferStatus < 1)
        {
            canEdit = true;
        }
        <div class="page">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", new { controller = "TransferIn", area = "" })" })">ย้อนกลับ</a></li>
                </ol>
            </div>
            <div class="page-content container-fluid">
                @if (ViewBag.Alert != null)
                {
                    <div class="row">
                        <div class="col-12">
                            @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                        </div>
                    </div>
                }


                <div class="row">
                    <div class="col-12">

                        <div class="panel">


                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @(Model.TransferId > 0 ? "แก้ไข" : "เพิ่ม")ใบนำวัสดุนำเข้า
                                    <span class="panel-desc">รายละเอียดใบนำวัสดุเข้า</span>
                                </h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-4">
                                        <label class="col-md-3 form-control-label">เลขที่  : </label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="TransferNo"
                                                   value="@Model.TransferNo" readonly
                                                   name="TransferNo" placeholder="กรุณากรอกเลขที่ (ปล่อยว่าง จะแสดงเล่มที่ อัตโนมัติ)">
                                        </div>
                                    </div>

                                    <div class="col-md-8 ">
                                        <input type="hidden" id="RefTransferIds" name="RefTransferIds" value="@Model.RefTransferId" />
                                        :

                                        @if (Model.TransferId >= 0)
                                        {


                                            <div class="col-md-9">
                                                <div class="divTranferOut">
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                            @if (canEdit && Model.TransferId<=0)
                                                            {
                                                                <tr style="text-align:right">
                                                                    <th colspan="2" align="right">

                                                                        <div class="">
                                                                            <button class="btn btn-outline-secondary btn-primary "
                                                                                    type="button"
                                                                                    id="btnRefTransfer">
                                                                                ค้าหาใบนำวัสดุออก
                                                                            </button>
                                                                            <button class="btn btn-outline-secondary btn-warning btnPull" type="button"
                                                                                    id="btnPull">
                                                                                ดึงข้อมูล
                                                                            </button>
                                                                        </div>
                                                                       


                                                                    </th>

                                                                </tr>
                                                            }
                                                            <tr class="bg-primary text-center">
                                                                <th class="text-white">เลขที่ใบนำออก</th>
                                                                @if (canEdit)
                                                                {
                                                                    <th class="text-white">ลบ</th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.RefTransfer != null && Model.RefTransfer.TransferRefHeader != null
&& Model.RefTransfer.TransferRefHeader.Count > 0)
                                                            {
                                                                foreach (var ob in Model.RefTransfer.TransferRefHeader)
                                                                {
                                                                    <tr title="@ob.RefTransferId">
                                                                        <td>@ob.RefTransferNo</td>
                                                                       
                                                                        <td>
                                                                            @if (canEdit && Model.TransferId <= 0)
                                                                            {

                                                                                <button class="btn btn-danger btn-xs btnTransferDelete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;ลบ</button>
                                                                            }
                                                                            </td>
                                                                      
                                                                    </tr>
                                                                }
                                                            }

                                                        </tbody>


                                                    </table>

                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>




                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div data-tabs="myTabPage">

                            <ul class="tabs">
                                <li class="tab-link current" data-tab="tab-1">ข้อมูลพื้นฐาน</li>
                                @if (Model.TransferId > 0)
                                {
                                    <li class="tab-link" data-tab="tab-2">รายการสินค้า</li>
                                }
                            </ul>

                            <div id="tab-1" class="tab-content current">

                                <div class="card-block" id="navInfo" data-tab-page="navInfo">

                                    <div class="col-12">
                                        <table width="100%" style="margin:-10px 0 0 0;">
                                            <tr>
                                                <td align="right">
                                                    <div style="text-align:right;">
                                                        <a href="@Url.Action("PDFTransferIn", new { controller = "export", area = "", id = Model.TransferId })"
                                                           class="btn btn-xs btn-warning" target="_blank">
                                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="panel">

                                            @Html.AntiForgeryToken()
                                            <input type="hidden" id="TransferId" name="TransferId" value="@Model.TransferId" />
                                            <input type="hidden" id="TransferStatus" name="TransferStatus" value="@Model.TransferStatus" />
                                            <div class="panel-body">
                                                <div class="row">
                                                    @*Left panel*@
                                                    <div class="col-md-6">



                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">วันที่  :</label>
                                                            <div class="col-md-9">
                                                                <div class="example datepair-wrap" data-plugin="datepair">
                                                                    <div class="input-daterange-wrap">
                                                                        <div class="input-daterange">
                                                                            <div class="input-group">

                                                                                <input type="text"
                                                                                       class="form-control datepair-date datepair-start"
                                                                                       id="TransferDate" autocomplete="off"
                                                                                       name="TransferDate" @(canEdit ? "" : "readonly")
                                                                                       value="@(Model.TransferDate ==null ? Converting.ToDDMMYYYY(DateTime.Now) :Converting.ToDDMMYYYY(Model.TransferDate)) "
                                                                                       data-plugin="datepicker">
                                                                                <span class="input-group-addon">
                                                                                    <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                                                                </span>
                                                                            </div>
                                                                            <div class="input-group">

                                                                                <input type="text" id="TransferTime"
                                                                                       name="TransferTime" class="form-control datepair-time datepair-start"
                                                                                       value="@Model.TransferTime" autocomplete="off" @(canEdit ? "" : "readonly")
                                                                                       data-plugin="timepicker" />
                                                                                <span class="input-group-addon">
                                                                                    <i class="icon wb-time icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">อนุญาติให้  : </label>
                                                            <div class="col-md-9">

                                                                <select class="form-control" id="EmpId" data-live-search="true"
                                                                        name="EmpId" required>
                                                                    <option value="-1" )>กรุณาเลือก</option>
                                                                    @foreach (TblEmployee it in optEmployee)
                                                                    {
                                                                        bool selectEmp = it.EmpId == (Model.EmpId == null ? (sysAccount.TblEmployee != null ? sysAccount.TblEmployee.EmpId : 0) : Model.EmpId.AsInt());
                                                                        <option value="@it.EmpId" @(selectEmp ? " selected=\" selected\"" : "")>@it.EmpNameTh</option>
                                                                    }
                                                                </select>



                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">บริษัท/ห้างร้าน :</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control"
                                                                       value="@(Model.Company!=null ? Model.Company:(Model.RefTransfer!=null ? Model.RefTransfer.Company:"") ) " @(canEdit ? "" : "readonly")
                                                                       id="Company" name="Company" placeholder="Kemrex">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @*Right panel*@

                                                    <div class="col-md-5 col-sm-8">





                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">ไปยัง  : </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" @(canEdit ? "" : "readonly")
                                                                       value="@(Model.ReceiveTo!=null ? Model.ReceiveTo:(Model.RefTransfer!=null ? Model.RefTransfer.ReceiveTo:"") ) "
                                                                       id="ReceiveTo" name="ReceiveTo" placeholder="กรุณากรอกข้อมูล">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">เพื่อ  : </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control"
                                                                       value="@(Model.Reason!=null ? Model.Reason:(Model.RefTransfer!=null ? Model.RefTransfer.Reason:"") ) " @(canEdit ? "" : "readonly")
                                                                       id="Reason" name="Reason" placeholder="ติดตั้งฐานราก Kemrex ปรับระดับ">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">โดยรถประเภท  : </label>
                                                            <div class="col-md-9">
                                                                <div class="radio-custom radio-primary">
                                                                    <ul>
                                                                        @{
                                                                            bool selected = false;


                                                                            if (Model.CarType == 0 || Model.CarType == null)
                                                                            {
                                                                                selected = (Model.RefTransfer != null && Model.RefTransfer.CarType == 1 ? true : false);
                                                                            }
                                                                            else
                                                                            {

                                                                                if (Model.CarType == 1)
                                                                                {
                                                                                    selected = true;
                                                                                }
                                                                                else
                                                                                {
                                                                                    selected = false;
                                                                                }
                                                                            }



                                                                            <li>
                                                                                <input type="radio" id="inputRadiosChecked" value="1" class="CarType" name="inputRadios" @(selected ? "Checked" : "") />
                                                                                <label class="col-md-3" for="inputRadiosChecked">รถกระบะ</label>
                                                                            </li>
                                                                            if (Model.CarType == 0 || Model.CarType == null)
                                                                            {
                                                                                selected = (Model.RefTransfer != null && Model.RefTransfer.CarType == 2 ? true : false);
                                                                            }
                                                                            else
                                                                            {

                                                                                if (Model.CarType == 2)
                                                                                {
                                                                                    selected = true;
                                                                                }
                                                                                else
                                                                                {
                                                                                    selected = false;
                                                                                }
                                                                            }


                                                                            <li>
                                                                                <input type="radio" id="inputRadiosChecked" value="2" class="CarType" name="inputRadios" @(selected ? "Checked" : "") />
                                                                                <label class="col-md-3" for="inputRadiosChecked">รถบรรทุก</label>
                                                                                <input type="text" class="col-md-3" name=" " placeholder=" "> ล้อ
                                                                            </li>
                                                                            if (Model.CarType == 0 || Model.CarType == null)
                                                                            {
                                                                                selected = (Model.RefTransfer != null && Model.RefTransfer.CarType == 3 ? true : false);
                                                                            }
                                                                            else
                                                                            {

                                                                                if (Model.CarType == 3)
                                                                                {
                                                                                    selected = true;
                                                                                }
                                                                                else
                                                                                {
                                                                                    selected = false;
                                                                                }
                                                                            }

                                                                            <li>
                                                                                <input type="radio" id="inputRadiosChecked" value="3" class="CarType" name="inputRadios" @(selected ? "Checked" : "") />
                                                                                <label class="col-md-6" for="inputRadiosChecked">รถเทรลเลอร์</label>
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <input type="hidden" id="CarType" name="CarType" value="@(Model.CarType!=0 ? Model.CarType:(Model.RefTransfer!=null ? Model.RefTransfer.CarType:0) )  " />
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">ทะเบียนเลขที่  : </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" value="@(Model.CarNo=="" ? Model.CarNo:(Model.RefTransfer!=null ? Model.RefTransfer.CarNo:"") ) " id="CarNo" name="CarNo" @(canEdit ? "" : "readonly") placeholder="กรุณากรอกทะเบียนรถ">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">ยี่ห้อ  : </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" id="CarBrand" value="@(Model.CarBrand!=null ? Model.CarBrand:(Model.RefTransfer!=null ? Model.RefTransfer.CarBrand:"") )" name="CarBrand" @(canEdit ? "" : "readonly") placeholder="กรุณากรอกยี่ห้อ">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 form-control-label">ส่วนงานที่นำวัสดุ/สิ่งของ เข้า โรงงาน  : </label>
                                                            <div class="col-md-9">
                                                                <div class="radio-custom radio-primary">
                                                                    <ul>
                                                                        @{
                                                                            selected = false;

                                                                            if (Model.SendToDepartment == 0)
                                                                            {
                                                                                selected = (Model.RefTransfer != null && Model.RefTransfer.SendToDepartment == 1 ? true : false);
                                                                            }
                                                                            else
                                                                            {

                                                                                if (Model.SendToDepartment == 2)
                                                                                {
                                                                                    selected = true;
                                                                                }
                                                                                else
                                                                                {
                                                                                    selected = false;
                                                                                }
                                                                            }


                                                                            <li>
                                                                                <input type="radio" id="inputRadiosChecked2" value="1" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                                <label class="col-md-3" for="inputRadiosChecked2">Office</label>
                                                                            </li>

                                                                            if (Model.SendToDepartment == 0)
                                                                            {
                                                                                selected = (Model.RefTransfer != null && Model.RefTransfer.SendToDepartment == 2 ? true : false);
                                                                            }
                                                                            else
                                                                            {

                                                                                if (Model.SendToDepartment == 2)
                                                                                {
                                                                                    selected = true;
                                                                                }
                                                                                else
                                                                                {
                                                                                    selected = false;
                                                                                }
                                                                            }




                                                                            <li>
                                                                                <input type="radio" id="inputRadiosChecked2" value="2" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                                <label class="col-md-3" for="inputRadiosChecked2">Engineer</label>

                                                                            </li>


                                                                            if (Model.SendToDepartment == 0)
                                                                            {
                                                                                selected = (Model.RefTransfer != null && Model.RefTransfer.SendToDepartment == 3 ? true : false);
                                                                            }
                                                                            else
                                                                            {

                                                                                if (Model.SendToDepartment == 3)
                                                                                {
                                                                                    selected = true;
                                                                                }
                                                                                else
                                                                                {
                                                                                    selected = false;
                                                                                }
                                                                            }


                                                                            <li>
                                                                                <input type="radio" id="inputRadiosChecked2" value="3" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                                <label class="col-md-6" for="inputRadiosChecked2">Factory</label>
                                                                            </li>


                                                                            if (Model.SendToDepartment == 0)
                                                                            {
                                                                                selected = (Model.RefTransfer != null && Model.RefTransfer.SendToDepartment == 4 ? true : false);
                                                                            }
                                                                            else
                                                                            {

                                                                                if (Model.SendToDepartment == 4)
                                                                                {
                                                                                    selected = true;
                                                                                }
                                                                                else
                                                                                {
                                                                                    selected = false;
                                                                                }
                                                                            }



                                                                            <li>
                                                                                <input type="radio" id="inputRadiosChecked2" value="4" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                                <label class="col-md-6" for="inputRadiosChecked2">Warehouse</label>
                                                                            </li>

                                                                            if (Model.SendToDepartment == 0)
                                                                            {
                                                                                selected = (Model.RefTransfer != null && Model.RefTransfer.SendToDepartment == 5 ? true : false);
                                                                            }
                                                                            else
                                                                            {

                                                                                if (Model.SendToDepartment == 5)
                                                                                {
                                                                                    selected = true;
                                                                                }
                                                                                else
                                                                                {
                                                                                    selected = false;
                                                                                }
                                                                            }

                                                                            <li>
                                                                                <input type="radio" id="inputRadiosChecked2" value="5" class="SendToDepartment" name="inputRadios2" @(selected ? "Checked" : "") />
                                                                                <label class="col-md-6" for="inputRadiosChecked2">Other</label>
                                                                                <textarea class="form-control" id="Remark" name="Remark" value="@Model.Remark" rows="3"></textarea>
                                                                            </li>
                                                                        }
                                                                    </ul>

                                                                    <input type="hidden" id="SendToDepartment" name="SendToDepartment" value="@(Model.SendToDepartment!=null ? Model.SendToDepartment: (Model.RefTransfer!=null ? Model.RefTransfer.SendToDepartment:0) )" @(canEdit ? "" : "readonly") />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-content">

                                <div class="card-block" id="navProducts" data-tab-page="navProducts">
                                    <div class="col-12">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                    รายการสินค้า   @if (canEdit)
                                                    {
                                                        <button type="submit" id="btnAddProduct" class="btn btn-primary pull-right">บันทึกรายการเบิก</button>
                                                    }
                                                </h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover table-striped tblProduct">
                                                                <thead>
                                                                    <tr>
                                                                        <th>ลำดับที่</th>
                                                                        <th>ใบนำออก</th>
                                                                        <th>สินค้า</th>
                                                                        <th>จำนวนที่นำออก</th>
                                                                        <th>จำนวนที่เบิกเข้า</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @if (Model.RefTransfer == null)
                                                                    {
                                                                        <tr>
                                                                            <td colspan="7">ไม่พบข้อมูล</td>
                                                                        </tr>
                                                                    }
                                                                    @{int row = 1;

                                                                        if (Model.TransferDetail != null
                                                                            && Model.TransferDetail.Count > 0)
                                                                        {
                                                                            foreach (var ob in Model.TransferDetail)
                                                                            {
                                                                                <tr>
                                                                                    <td width="5%">@row</td>
                                                                                    <td width="10%">@ob.RefTransferNo</td>
                                                                                    <td width="50%">@ob.Product.ProductCode @ob.Product.ProductName</td>

                                                                                    <td width="15%">
                                                                                        <input type="hidden" name="currentQty" class="currentQty" value="@ob.CurrentQty" />
                                                                                        @ob.CurrentQty
                                                                                    </td>
                                                                                    <td width="20%">
                                                                                        <input type="hidden" name="ProductIds" class="ProductIds" value="@ob.Product.ProductId" />
                                                                                        <input type="hidden" name="TransferIds" class="TransferIds" value="@ob.RefTransferId" />
                                                                                        <input type="text" name="RequestQtys" class="form-control RequestQtys"
                                                                                               value="@ob.RequestQty" @(canEdit ? "" : "readonly")
                                                                                               placeholder="">
                                                                                    </td>


                                                                                </tr>
                                                                                row++;
                                                                            }
                                                                        }
                                                                        else if (Model.RefTransfer != null && Model.RefTransfer.TransferDetail.Count > 0)
                                                                        {

                                                                            foreach (var ob in Model.RefTransfer.TransferDetail)
                                                                            {
                                                                                <tr>
                                                                                    <td>@row</td>
                                                                                    <td width="10%">@ob.TransferNo</td>
                                                                                    <td width="50%">@ob.ProductCode @ob.ProductName</td>

                                                                                    <td width="30%">
                                                                                        <input type="hidden" name="currentQty" class="currentQty" value="@ob.CurrentQty" />
                                                                                        @ob.CurrentQty
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="hidden" name="ProductIds" class="ProductIds" value="@ob.ProductId" />
                                                                                        <input type="text" name="RequestQtys" class="form-control RequestQtys"
                                                                                               value="@ob.RequestQty" @(canEdit ? "" : "readonly")
                                                                                               placeholder="">
                                                                                    </td>


                                                                                </tr>
                                                                                row++;
                                                                            }


                                                                        }

                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-12">




                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top:10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @if (canEdit && Model.TransferId > 0)
                                        {
                                            if (Model.TransferStatus == null || Model.TransferStatus == 0)
                                            {
                                                <button type="submit" id="btnNextStep" class="btn btn-primary">@(Model.TransferId > 0 ? "บันทึก" : "ต่อไป")</button>

                                            }
                                            if (Model.TransferId > 0)
                                            {
                                                <button type="submit" id="btnApprove" class="btn btn-success">อนุมัติ</button>
                                            }
                                        }
                                        <a href="@Url.Action("Index", new { controller = "TransferIn", area = "" })" class="btn btn-default">ยกเลิก</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
                </div>

</form>





    <!-- Address Modal -->
    <div class="modal fade" id="JobOrderModal" tabindex="-1" role="dialog" aria-labelledby="ค้นหาใบสั่งงาน" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbCustomerId" hidden></label></h5>
                    <h2><label id="lbCustomerName">เลือก ใบนำออก</label></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="JobStartDate" class="form-control-label">จากวันที่</label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input id="JobStartDate" type="text" class="form-control"
                                           value="@Converting.ToDDMMYYYY(DateTime.Now)"
                                           placeholder="dd/MM/yyyy ค.ศ." name="JobStartDate" />
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="JobEndDate" class="form-control-label">ถึงวันที่</label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input id="JobEndDate" type="text" 
                                            value="@Converting.ToDDMMYYYY(DateTime.Now)"
                                           class="form-control" placeholder="dd/MM/yyyy ค.ศ." name="JobEndDate" />
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">

                            <button class="btn btn-outline-secondary btn-primary btnSearchJobOrder" style="margin-top:34px" type="button"
                                    id="btnSearchJobOrder">
                                ค้นหา
                            </button>
                            <button class="btn btn-outline-secondary btn-success btnSelectItem" style="margin-top:34px" type="button"
                                    id="btnSelectItem">
                               เลือก
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="table-responsive divSearch">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>กรุณาเลือก</th>
                                            <th>รายการ</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>



                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>

</body>
