@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@using Kemrex.Core.Common.Helper
@model List<TransferHeader>
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;
    WidgetPaginationModel Pagination = (WidgetPaginationModel)ViewBag.Pagination;
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
        });

        $(EngineerMenu).slideToggle();
    </script>
}

<div class="page">
    <div class="page-header">
        <h1 class="page-title">Add GatePass-in (ใบอนุญาตนำวัสดุ/สิ่งของ เข้า) </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", new { controller = "Home", area = "" })" })">หน้าแรก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">ฝ่ายติดตั้ง</a></li>
            <li class="breadcrumb-item active">ใบนำวัสดุุเข้า</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-12">
                @if (ViewBag.Alert != null)
                {
                    @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                }
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">(ใบอนุญาตนำวัสดุ/สิ่งของ เข้า)&nbsp;<a href="@Url.Action("Detail", new { area = "", controller = "TransferIn" })" class="btn btn-xs btn-primary" style="color:white;">เพิ่มข้อมูล</a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="panel-body dataTables_wrapper">
                        <div class="row">
                            <div class="col-12 col-sm-6 form-inline">
                                @Html.Partial(kemrex.PathViewShared("_wgPaginationSize"), Pagination)
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="dataTables_paginate float-right">
                                    @Html.Partial(kemrex.PathViewShared("_wgPagination"), Pagination)
                                </div>
                                <div class="clear"></div>
                            </div>
                            <br /><br />
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr align="center">
                                                <th>หมายเลข</th>
                                                <th>ลงวันที่</th>
                                                <th>สถานะ</th>
                                                <th>เครื่องมือ</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() <= 0)
                                            {
                                                <tr align="center">
                                                    <td colspan="5">ไม่พบข้อมูล</td>
                                                </tr>
                                            }
                                            @foreach (var ob in Model)
                                            {
                                                //   var total = ob.SaleOrder.SummaryTot - ob.SaleOrder.DiscountCash;
                                                <tr id="@ob.TransferId"
                                                    @if (ob.TransferStatus == 1) { @Html.Raw("class=\"table-success text-white\"")  } else if (ob.TransferStatus == 2) { @Html.Raw("class=\"table-second text-second\"") }>
                                                <tr id="@ob.TransferNo" align="center">

                                                    <td>@ob.TransferNo </td>
                                                    <td>@Converting.ToDDMMYYYY(ob.TransferDate)</td>
                                                    <td>@Converting.TransferStatus(ob.TransferStatus.ToString()) </td>

                                                    <td align="center">
                                                        <a href="@Url.Action("Detail", new { controller="TransferIn" , area="" , id=ob.TransferId })"
                                                           class="btn btn-xs btn-primary">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;แก้ไข
                                                        </a>
                                                        <a href="@Url.Action("PDFTransferIn", new { controller = "export", area = "", id=ob.TransferId  })"
                                                           class="btn btn-xs btn-warning">
                                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <span>@Pagination.CurrentDisplay</span>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="dataTables_paginate float-right">
                                    @Html.Partial(kemrex.PathViewShared("_wgPagination"), Pagination)
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</div>