@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@using Kemrex.Core.Common.Helper
@model List<TransferHeader>
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;
    //WidgetPaginationModel Pagination = (WidgetPaginationModel)ViewBag.Pagination;
}

@section Scripts {
    <script type="text/javascript">
        var url = '@Url.Action("GetTransferSInList", "TransferIn")';
        var isMobile = IsMobile();
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
            //waitingDialog.show('Waiting for loading data', { dialogSize: 'md', progressType: 'primary' });
            LoadTable();
        });

        $(EngineerMenu).slideToggle();
        function LoadTable() {

            var html = '';
            var criteria = "";
            var urlExport = '@Url.Action("PDFTransferIn", new { controller = "export", area = ""})';
            var urlDetail = '@Url.Action("Detail", new { controller = "TransferIn", area = ""})';
            $(".divDetail").empty();


            if (!isMobile) {

                html += '<table class="table  table-striped table-hover "  >';
                html += '<thead>';
                html += '<tr class="table-primary" align="center">';
                html += '<th align="center">หมายเลข</th>';
                html += '<th align="center">วันที่</th>';
                html += '<th align="center">สถานะ</th>';
                html += '<th align="center">เครื่องมือ</th>';
                html += ' </tr>';
                html += '</thead>';
                html += '<tbody>';



                $.ajax({
                    url: url,
                    type: "POST",
                    // data: JSON.stringify(criteria),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        var statusName = "";
                        if (data != null) {

                            $.each(data, function (index, item) {
                                html += '<tr>';
                                html += '<td align="center">' + item.TransferNo + '</td>';
                                html += '<td align="center">' + item.StrTransferDate + '</td>';
                                var dddd = item.TransferStatus.toString();
                                html += '<td align="center">' + item.StrTransferStatus + '</td>';

                                html += '<td> <a href="' + urlDetail + '/' + item.TransferId + '" class="btn btn-xs btn-primary">';
                                html += '<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;แก้ไข </a>&nbsp;';
                                html += '<a href="' + urlExport + '/' + item.TransferId + '" class="btn btn-xs btn-warning">';
                                html += '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF </a></td>';

                                html += '</tr>';
                            });
                        }
                        html += '</tbody>';
                        html += ' </table>';

                        $(".divDetail").append(html);
                        $(".divDetail table").DataTable(
                            {
                                columnDefs: [
                                    { type: 'date-uk', targets: 1 }
                                ],
                                order: [[1, 'desc']]
                            }
                        );
                        waitingDialog.hide();
                    },
                    error: function (error) {
                        alert(error);
                        waitingDialog.hide();
                        //  waitingDialog.hide();
                    }
                });
            } else {

                html += '<table class="table table-hover" >';
                html += '<thead>';
                html += '<tr class="">';
                html += '<th></th>';
                html += '</tr>';
                html += '</thead>';
                $.ajax({
                    url: url,
                    type: "POST",
                    // data: JSON.stringify(criteria),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        html += '<tbody>';
                        if (data != null && data.length > 0) {

                            $.each(data, function (index, item) {
                                html += '<tr>';
                                html += '<td>'
                                html += '<div class="">'
                                html += '<div class="content">'
                                html += '<div class="row" >';
                                html += '<div class="col-sm-5">';
                                html += '<div class="icon-big text-center">';

                                html += '</div>';
                                html += '</div>';
                                html += '<div class="col-sm-10">';
                                html += '<div>';
                                html += '<div class="col-sm-12"><div class="textrow"><div class="text-primary"><b>หมายเลข</b></div> : <div class="text-default">' + item.TransferNo + '</div></div></div>';
                                html += '<div class="col-sm-12"><div class="textrow"><div class="text-primary"><b>วันที่</b></div>  : ' + item.StrTransferDate + '</div></div>';
                                html += '<div class="col-sm-12"><div class="textrow"><div class="text-primary"><b>สถานะ</b></div> : ' + item.StrTransferStatus + '</div></div>';
                                html += '<div> <a href="' + urlDetail + '/' + item.TransferId + '" class="btn btn-md btn-floating' + (item.TransferStatus <= 0 ? " btn-primary" : " btn-success") + '">';
                                html += '<i class=" ' + (item.TransferStatus <= 0 ? "fa fa-pencil" : "fa fa-search") + '" aria-hidden="true"></i></a>';
                                html += '<a href="' + urlExport + '/' + item.TransferId + '" target="_blank" class="btn  btn-md btn-floating btn-warning">';

                                html += '<i class="fa fa-file-pdf-o" aria-hidden="true"></i> </a></div>';
                                html += '</div>';
                                html += '</div>';
                                html += '</div>';

                                html += '</div>';
                                html += '</td>'
                                html += '</tr>';
                            });
                        }
                        html += '</tbody>';

                        html += ' </table>';

                        $(".divDetail").append(html);
                        $(".divDetail table").DataTable();


                    }
                });

            }
        }
    </script>
}

<div class="page">
    <div class="page-header">
        <h1 class="page-title">Add GatePass-in (ใบอนุญาตนำวัสดุ/สิ่งของ เข้า) </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", new { controller = "Home", area = "" })" })">หน้าแรก</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">ฝ่ายติดตั้ง</a></li>
            <li class="breadcrumb-item active">ใบนำวัสดุุเข้า</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-12">
                @if (ViewBag.Alert != null)
                {
                    @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                }
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">(ใบอนุญาตนำวัสดุ/สิ่งของ เข้า)&nbsp;<a href="@Url.Action("Detail", new { area = "", controller = "TransferIn" })" class="btn btn-xs btn-primary" style="color:white;">เพิ่มข้อมูล</a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="panel-body dataTables_wrapper">
                       
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive divDetail">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr align="center">
                                                <th>หมายเลข</th>
                                                <th>ลงวันที่</th>
                                                <th>สถานะ</th>
                                                <th>เครื่องมือ</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() <= 0)
                                            {
                                                <tr align="center">
                                                    <td colspan="5">ไม่พบข้อมูล</td>
                                                </tr>
                                            }
                                            @foreach (var ob in Model)
                                            {
                                                //   var total = ob.SaleOrder.SummaryTot - ob.SaleOrder.DiscountCash;
                                                <tr id="@ob.TransferId"
                                                    @if (ob.TransferStatus == 1) { @Html.Raw("class=\"table-success text-white\"")  } else if (ob.TransferStatus == 2) { @Html.Raw("class=\"table-second text-second\"") }>
                                                </tr>
                                                <tr id="@ob.TransferNo" align="center">

                                                    <td>@ob.TransferNo </td>
                                                    <td>@Converting.ToDDMMYYYY(ob.TransferDate)</td>
                                                    <td>@Converting.TransferStatus(ob.TransferStatus.ToString()) </td>

                                                    <td align="center">
                                                        <a href="@Url.Action("Detail", new { controller="TransferIn" , area="" , id=ob.TransferId })"
                                                           class="btn btn-xs btn-primary">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;แก้ไข
                                                        </a>
                                                        <a href="@Url.Action("PDFTransferIn", new { controller = "export", area = "", id=ob.TransferId  })"
                                                           class="btn btn-xs btn-warning">
                                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</div>