@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models

@model TblSaleOrder
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;



    SysAccount sysAccount = (SysAccount
)ViewData["userAccount"];

    List<TblQuotation>
optQuotation = (List<TblQuotation>
)ViewData["optQuotation"];
    List<TblCustomer>
    optCustomer = (List<TblCustomer>
    )ViewData["optCustomer"];
    List<TblCustomerAddress>
        optCustomerAddress = (List<TblCustomerAddress>
            )ViewData["optCustomerAddress"];
    List<TblSaleOrderDetail>
        optSoDetail = (List<TblSaleOrderDetail>
            )ViewData["optSoDetail"];
    List<TblProduct>
    optProduct = (List<TblProduct>
        )ViewData["optProduct"];
    List<TblCustomerContact>
    optContact = (List<TblCustomerContact>
    )ViewData["optContact"];
    List<TblEmployee>
    optEmployee = (List<TblEmployee>
    )ViewData["optEmployee"];

    List<EnmPaymentCondition> optPayment = (List<EnmPaymentCondition>
        )ViewData["optPayment"];


    List<TblSaleOrderAttachment> optAttachment = (List<TblSaleOrderAttachment>
        )ViewData["optAttachment"];

    List<TeamOperation> optTeam = (List<TeamOperation>
     )ViewData["optTeam"];

    AccountPermission optPermission = (AccountPermission
        )ViewData["optPermission"];
    List<TblWareHouse>
optWareHouse = (List<TblWareHouse>
   )ViewData["optWareHouse"];

}

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />



}

@section Scripts {

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">

        var _contact = [];

        $(document).ready(function () {

            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);

            $(SaleMenu).slideToggle();
           // var tab = TabPages.init('myTabPage');
            //tab.selectTab('navInfo');

          //  var myTabElement = new TabPages('myTabPage');
          //  myTabElement.initTabs();
          //  myTabElement.selectTab('navInfo');

            if (getUrlVars()["tab"] == "Product")
            {
                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');
                $("#tab-2").addClass('current');
                $("li[data-tab='tab-2']").addClass('current');
            } else if (getUrlVars()["tab"] == "Attachment") {
                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');
                $("#tab-3").addClass('current');
                $("li[data-tab='tab-3']").addClass('current');
            }


            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })


             if (@Model.StatusId== 2) {

                $("#frmMain :input").prop("disabled", true);
            }
            calDiscount();
        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function calDiscount() {
            var st = document.getElementById("SummaryTot").value.replace(",","");
            var dc = document.getElementById("DiscountCash").value.replace(",", "");
            if (dc > 0)
            {
                document.getElementById("SummaryTot").value = numeral(st - dc).format('0,0.00');
            }
        }

        // Get CustomerAddress by customer id
        function getAddress(e) {
           var _customerAddress = [];
            var myArray = [];
            var id = document.getElementById("CustomerId").value;
            @foreach (var d in optCustomerAddress.ToArray())
            {
                @:myArray.push("@d.CustomerId:@d.AddressId:@d.AddressName-@d.AddressText");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
                if (i[0] == id)
                    _customerAddress.push(e);
            })
            return _customerAddress.toString();
        }

        // Get CustomerContact by customer id
        function getContact(e) {

            var myArray = [];
            var con = [];
            var id = document.getElementById("CustomerId").value;
            @foreach (var d in optContact.ToArray())
            {
                @:myArray.push("@d.CustomerId:@d.ContactId:@d.ContactName:@d.ContactPhone:@d.ContactEmail");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
                if (i[0] == id)
                    con.push(e);
            })
            return con.toString();
        }

         // Get CustomerContact by customer id
        function getQuatations(e) {

            var myArray = [];
            var con = [];
            var id = document.getElementById("QuotationNo").value;
            @foreach (var d in optQuotation.ToArray())
            {
                @:myArray.push("@d.QuotationId:@d.QuotationNo:@d.CreatedDate");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
               // if (i[0] == id)
                    con.push(e);
            })
            return con.toString();
        }
        // Modal customer address
        function showSelectModal(addr,name) {
            var id = document.getElementById("CustomerId").value;

            document.getElementById("lbCustomerId").innerText = id;
            document.getElementById("lbCustomerName").innerText = document.getElementById("CustomerName").value;

            var msg = "";
            var a = addr.split(',');
            if (a != null && a !="") {
                a.forEach(function (e) {
                    var x = e.split(':');
                    msg += '<tr> ';

                    msg += '<td>';
                    msg += '<input type="hidden" name="AddressId" value=\'' + x[1] + '\' />';
                    msg += ' <a data-dismiss="modal" onclick="setSelectToText(\'' + name + '\',\'' + x[2] + '\')"';
                    msg += ' class="btn btn-info btn-sm" " style="color:white;">';
                    msg += ' เลือก';
                    msg += '  </a>';
                    msg += '</td >';
                    msg += '<td>' + x[2] + ' </td>  ';
                    msg += '</tr>';
                }
                );
            }
            //alert(msg);
            $('#AddressModal').modal('show');
            document.getElementById("manageQuotation").innerHTML = msg;
        }



        function setSelectToText(name, val) {
            //  alert(name + ' ' + val);
            document.getElementById(name).value = val;

            // Set phone and email
            if (name == "ContractName")
            {

                var i = _contact.split(',');
                i.forEach(function (e) {
                    x = e.split(':');
                    if (x[2]==val)
                    {
                        setSelectToText("ContractPhone", x[3]);
                        setSelectToText("ContractEmail", x[4]);
                    }
                })

            }
        }
        function getPre() {
            var samplelist = document.getElementById("SaleOrderPreNo");
            return samplelist.options[samplelist.selectedIndex].text;
        }

        // Event
        $("#button-quotation").click(function () {



            $("#QuotationModal").modal('show');

        })

        $("#CustomerId").change(function () {
            var id = document.getElementById("CustomerId").value;
            document.getElementById("CustomerName").value = $(this).find("option:selected").text();
        })

        $("#SaleId").change(function () {
            var id = document.getElementById("SaleId").value;
            document.getElementById("SaleName").value = $(this).find("option:selected").text();
        })

        $("#button-BillingAddress").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "show";
            document.getElementById("bnAddnewContact").style.display = "none";
            if (AddrValidation()) {
                showSelectModal(getAddress(), "BillingAddress");
            }

        })
        $("#button-ShippingAddress").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "show";
            document.getElementById("bnAddnewContact").style.display = "none";
            showSelectModal(getAddress(), "ShippingAddress");
        })
        $("#button-contact").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "none";
            document.getElementById("bnAddnewContact").style.display = "show";
            _contact = getContact();
            if (AddrValidation()) {
                showSelectModal(_contact, "ContractName");
            }

        })



        $("#btnSearchQuotation").click(function () {


            var html = '';
            $('.divQuotation').empty();

            html += '<table class="table table-hover">';
            html += '<thead> ';
            html += '<tr>';
            html += '<th>กรุณาเลือก</th>';
            html += '<th>ใบสั่งสินค้า</th>';
            html += '<th>ลูกค้า</th>';
            html += '<th>วันที่</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';



            var url = '@Url.Action("GetQuotationBySaleOrder", "SaleOrder")';

                   $.ajax({
                type: "get",
                url: url,
                       data: { startDate: $("#txtStartDate").val(), toDate: $("#txtEndDate").val() }
                       ,success: function (obj) {
                           $.each(obj, function (index, item) {
                        
                               html += '<tr data=' + item.QuotationId + '>';
                               html += '<td><button type="button" class="btn btn-primary btnSelectQuotation">เลิอก</button></td>';
                               html += '<td>' + item.QuotationNo + '</td>';
                               html += '<td>' + item.CustomerName + '</td>';
                               html += '<td>' + item.strQuotationDate + '</td>';
                               html += '</tr>';
                           });

                           html += '</tbody>';
                           html += '</table>';
                           html += ' </div>';


                           $('.divQuotation').append(html);
                           $('.divQuotation table').DataTable();
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                           alert(errorThrown);
                           //or you can put jqXHR.responseText somewhere as complete response. Its html.
                       }
                   });

        });




        $(document).on("click", "#btnQT2SO", function () {


            var isConfirm = true;
            if ($('#QuotationNo').val()=="") {
                isConfirm = false;
            } 

            if ($("#QuotationNo").val() == "") {
                $("#QuotationNo").addClass("has-error");
                chkValidate = false;
            } else {
                $("#QuotationNo").removeClass("has-error");
            }
          

            if (isConfirm) {

                swal({
                    title: "Import",
                    text: "Do you want to import?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#frmMain').attr('action', '@Url.Action("QT2SO", "SaleOrder")');
                            $('#frmMain').submit();

                        }
                    });
            }

            return false;

        });



          $(".btnDelete").click(function () {

            
                swal({
                    title: "Delete",
                    text: "Do you want to delete?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $("#SelQSaleOrderProductId").val($(this).closest("tr").attr("data"));
                     $('#frmProduct').attr('action', '@Url.Action("DetailDelete", new { controller = "SaleOrder" })');
                      $('#frmProduct').submit();

                        }
                    });
         
          
            return false;

        })

        $(document).on("click", ".btnConfirm", function () {
            var isConfirm = false;
            swal({
                title: "Approve",
                text: "Do you want to confirm?",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $('#hdApprove').val(3);
                        $('#StatusId').val(2);
                         $('#frmMain').attr('action', '@Url.Action("Detail", "SaleOrder")');
                        $('#frmMain').submit();

                    }
                });

            return false;
        });

        $(document).on("click", ".btnSaveDiscount", function () {
            var isConfirm = false;
             swal({
                    title: "Save",
                    text: "Do you want to save discount?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                           
                            $('#frmDiscount').submit();

                        }
                });

            return false;
        });



          $("#btnProduct").click(function () {



            $("#ProductModal").modal('show');

        })


                  $("#btnSearchProduct").click(function () {


            var html = '';
                   $('.divProduct').empty();

            html += '<table class="table table-hover">';
            html += '<thead> ';
            html += '<tr>';
                      html += '<th>กรุณาเลือก</th>';
                      html += '<th>รหัสสินค้า</th>';
                      html += '<th>ชื่อสินค้า</th>';
                      html += '<th>ราคาต่อหน่วย</th>';
                      html += '<th>Qty คงเหลือ</th>';
                      html += '<th>คลังสินค้า</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';



            var url = '@Url.Action("GetProduct", "Quotation")';
                   objAddressList = [];
                   objContacList = [];
                   $.ajax({
                type: "get",
                url: url,
                       data: {
                           ProductCode: $("#searchProductCode").val(),
                           ProductName: $("#searchProductName").val()
                       }
                       ,success: function (obj) {
                           $.each(obj, function (index, item) {


                           
                               html += '<tr data=' + item.ProductId + ' whid=' + item.WareHouse.Whid + ' >';
                               html += '<td><button type="button" class="btn btn-primary btnSelectProduct">เลิอก</button>';

                               html += '</td>';
                               html += '<td>' + item.ProductCode + '</td>';
                               html += '<td>' + item.ProductName + '</td>';
                               html += '<td>' + item.PriceNet + '</td>';
                               html += '<td>' + item.QtyStock + '</td>';
                               html += '<td></td>';
                               html += '</tr>';
                           });

                           html += '</tbody>';
                           html += '</table>';
                           html += ' </div>';


                           $('.divProduct').append(html);
                           $('.divProduct table').DataTable();
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                           alert(errorThrown);
                           //or you can put jqXHR.responseText somewhere as complete response. Its html.
                       }
                   });

        });


        function CalProductPrice(loadProductOnhand) {


            if (loadProductOnhand) {
                waitingDialog.show('Waiting for loading', { dialogSize: 'md', progressType: 'primary' });
                if ($("#ProductDiscount").val() == "") {
                    $("#ProductDiscount").val(0)
                }
                GetProductOnhand($("#selProduct").val(),
                    $("#selWareHose").val(),
                    function (data) {
                        $("#ProductOnhandQty").val(data.QtyStock);
                        window.setTimeout(function () {
                            waitingDialog.hide();
                        }, 1000);

                    }, function (error) {
                        window.setTimeout(function () {
                            waitingDialog.hide();
                        }, 1000);
                    });

            }
            if ($("#ProductDiscount").val() == "") {
                $("#ProductDiscount").val(0)
            }
          var discount=  $("#ProductDiscount").val();
            var netTotal = parseFloat($("#ProductQty").val().replace(",", "")) * parseFloat($("#ProductPrice").val().replace(",", ""))

            switch ($(".selCalType").val()) {
              
                case '1':
                    netTotal = (netTotal - (netTotal * (discount / 100))).toFixed(2);
                    break;
                case '2':
                    netTotal = (netTotal - discount).toFixed(2);
                    break;
            }

          

            $("#NetPrice").val(numeral(netTotal).format('0,0.00'));
        }



        $(document).on("click", ".btnSelectProduct", function () {
            $('#selProduct').val($(this).closest('tr').attr('data'));
            $('#ProductPrice').val($(this).closest('tr').find("td:eq(3)").html());
            $("#selWareHose").val($(this).closest('tr').attr('whid'));
            $("#ProductModal").modal('hide');
            CalProductPrice(true);

        });


        $("#selWareHose").change(function () {



            CalProductPrice(true);

        });
        $(".btnEditProduct").click(function () {



            $("#SelQuotationProductId").val($(this).closest("tr").attr("data"));
            $("#selProduct").val($(this).closest("tr").attr("ProductId"));
            $("#ProductQty").val($(this).closest("tr").attr("Qty"));
            $("#ProductPrice").val($(this).closest("tr").attr("PriceUnit"));
            $("#ProductDiscount").val($(this).closest("tr").attr("Discount"));
            $("#Remark").val($(this).closest("tr").attr("Remark"));
            $(".selCalType").val($(this).closest("tr").attr("CalType"));
            $("#selWareHose").val($(this).closest("tr").attr("Whid"));

           /* $("#SelQSaleOrderProductId").val($(this).closest("tr").attr("data"));
            $("#selProduct").val($(this).closest("tr").attr("ProductId"));
            $("#ProductQty").val($(this).closest("tr").find('td:eq(2)').text());
            $("#ProductPrice").val($(this).closest("tr").find('td:eq(3)').text());
            $("#ProductDiscount").val($(this).closest("tr").find('.Discount').val());
            $("#Remark").val($(this).closest("tr").find('td:eq(8)').text());
            $(".selCalType").val($(this).closest("tr").find('.CalType').val());
            $("#selWareHose").val($(this).closest("tr").attr("Whid"));*/
            CalProductPrice(true);
            $.scrollTo('#SelQSaleOrderProductId', 1500).scrollTo(0, 1500);
            return false;

        })

       
        $("#ProductQty").keyup(function () {
            CalProductPrice();
        });
        $("#ProductDiscount").keyup(function () {
            CalProductPrice();
        });
        $(".selCalType").change(function () {
            CalProductPrice();
        });


        $(document).on("click", ".btnSelectQuotation", function () {
            $('#QuotationId').val($(this).closest('tr').attr('data'));
            $('#lbQuotationId').val($(this).closest('tr').attr('data'));

            $('#QuotationNo').val($(this).closest('td').next().html());
            $("#QuotationModal").modal('hide');
        });

        // Product section
        $("#selProduct").change(function () {
            var dt = document.getElementById("selProduct").value;
            var price = 0;
            var p = dt.split(':');
            if (p[1] != null) {
                price = parseFloat(p[1]);
            }
            document.getElementById("ProductQty").value = 1;
            document.getElementById("ProductPrice").value = $("#selProduct option:selected").attr("title");
            document.getElementById("ProductDiscount").value = 0;

            CalProductPrice(true);
        })

        $("#button-EditCustomerAddress").click(function () {
            var id = document.getElementById("CustomerId").value;
            document.getElementById("caCustomerId").value = id;
            document.getElementById("lbcaCustomerName").innerHTML = document.getElementById("lbCustomerName").innerText;


        });


        $("#btnAddProduct").click(function () {


            var isConfirm = AddProductValidation();


            if (isConfirm) {
                swal({
                    title: "SAVE",
                    text: "Do you want to save product?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#frmProduct').submit();

                        }
                    });
            }
            return false;


        });

        $("#btnNextStep").click(function () {


            isConfirm = ValidationAll();




            if (isConfirm) {

                swal({
                    title: "SAVE",
                    text: "Do you want to save?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#frmMain').submit();

                        }
                    });
            }

            return false;

        });



        function ValidationAll() {
            var chkValidate = true;



            if ($("#QuotationNo").val() == "") {
                $("#QuotationNo").addClass("has-error");
                chkValidate = false;
            } else {
                $("#QuotationNo").removeClass("has-error");
            }

            if ($("#CustomerId").val() == "") {
                $("#CustomerId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#CustomerId").removeClass("has-error");
            }

           


            if ($("#DeliveryDate").val() == "") {
                $("#DeliveryDate").addClass("has-error");
                chkValidate = false;
            } else {
                $("#DeliveryDate").removeClass("has-error");
            }

            

            if ($("#BillingAddress").val() == "") {
                $("#BillingAddress").addClass("has-error");
                chkValidate = false;
            } else {
                $("#SaleId").removeClass("has-error");
            }

            if ($("#ShippingAddress").val() == "") {
                $("#ShippingAddress").addClass("has-error");
                chkValidate = false;
            } else {
                $("#ShippingAddress").removeClass("has-error");
            }

            if ($("#SaleId").val() == "") {
                $("#SaleId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#SaleId").removeClass("has-error");
            }







            return chkValidate;

        }

        function AddrValidation() {
            var chkValidate = true;
            if ($("#CustomerId").val() == "") {
                $("#CustomerId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#CustomerId").removeClass("has-error");
            }






            return chkValidate;

        }

        function AddProductValidation() {

            /* selProduct
             ProductQty
             ProductPrice
             ProductDiscount*/

            var chkValidate = true;



            if ($("#selProduct").val() == "") {
                $("#selProduct").addClass("has-error");
                chkValidate = false;
            } else {
                $("#selProduct").removeClass("has-error");
            }

            if ($("#selWareHose").val() == "") {
                $("#selWareHose").addClass("has-error");
                chkValidate = false;
            } else {
                $("#selWareHose").removeClass("has-error");
            }

           


            if ($("#ProductQty").val() == "") {
                $("#ProductQty").addClass("has-error");
                chkValidate = false;
            } else {
                $("#ProductQty").removeClass("has-error");
            }


            if ($("#ProductPrice").val() == "") {
                $("#ProductPrice").addClass("has-error");
                chkValidate = false;
            } else {
                $("#ProductPrice").removeClass("has-error");
            }


            if ($("#ProductDiscount").val() == "") {
                $("#ProductDiscount").addClass("has-error");
                chkValidate = false;
            } else {
                $("#ProductDiscount").removeClass("has-error");
            }

            if ($("#selWareHose").val() == "") {
                $("#selWareHose").addClass("has-error");
                chkValidate = false;
            } else {
                $("#selWareHose").removeClass("has-error");
            }


            return chkValidate;

        }





    </script>
}


<style type="text/css">

    ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            background: #ededed;
        }

            ul.tabs li.current {
                background: #ffffff;
                color: #222;
            }

    .tab-content {
        display: none;
        background: #ffffff;
        padding: 15px;
    }

        .tab-content.current {
            display: inherit;
        }
</style>

<body data-spy="scroll" data-target="#myTap" data-offset="300">

    @{var isCanEdit = Model.StatusId <= 1 ? true : false; }
    <div class="page">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", new { controller = "SaleOrder", area = "" })" })">ย้อนกลับ</a></li>
            </ol>
        </div>
        <div class="page-content container-fluid">
            @if (ViewBag.Alert != null)
            {
                <div class="row">
                    <div class="col-12">
                        @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                    </div>
                </div>
            }
            <div class="panel-heading">
                <h3 class="panel-title">
                    @(Model.SaleOrderId > 0 ? "แก้ไข" : "เพิ่ม")เอกสาร
                    <span class="panel-desc">ใบสั่งขาย (Sale order)</span>
                </h3>
            </div>
            <div data-tabs="myTabPage">
                <ul class="tabs">

                    <li class="tab-link current" data-tab="tab-1">ข้อมูลพื้นฐาน</li>
                    @if (Model.SaleOrderId > 0)
                    {
                        <li class="tab-link" data-tab="tab-2">รายการสินค้า</li>
                        <li class="tab-link" data-tab="tab-3">เอกสารแนบ</li>
                    }
                </ul>
                <div id="tab-1" class="tab-content current">
                    <div class="" data-tab-page="navInfo">
                        <div class="col-12">
                            <table width="100%" style="margin:-10px 0 0 0;">
                                <tr>
                                    <td align="right">
                                        <div style="text-align:right;">
                                            <a href="@Url.Action("PDFSaleOrder", new { controller = "export", area = "", id = Model.SaleOrderId  })"
                                               class="btn btn-xs btn-warning" target="_blank">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="panel">
                                <form method="post" action="@Url.Action("Detail", "SaleOrder")" id="frmMain" enctype="multipart/form-data">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="SaleOrderId" value="@Model.SaleOrderId" />
                                   
                                    <input type="hidden" id="hdApprove" name="hdApprove" />
                                    <div class="panel-body">
                                        <div class="row">

                                            @*Left panel*@

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="SaleOrderNo" class="col-sm-10 col-form-label">เลขที่ใบสั่งขาย</label>
                                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                                        <div class="input-group mb-3">
                                                            @if (Model.SaleOrderId == 0)
                                                            {
                                                                <select name="SaleOrderPreNo" id="SaleOrderPreNo" class="custom-select" @(!isCanEdit ? "readonly" : "")>
                                                                    <option value="KT">KT</option>
                                                                    <option value="CT" selected="selected">CT</option>
                                                                    <option value="ET">ET</option>
                                                                    <option value="EL">EL</option>
                                                                </select>
                                                            }
                                                            <input type="text" placeholder="บันทึกเพื่อสร้าง" id="txtSaleOrderNo" class="form-control mb-3" value="@Model.SaleOrderNo" readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="QuotationNo" class="col-sm-10 col-form-label">เลขที่ใบเสนอราคา</label>
                                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" id="QuotationNo" name="QuotationNo"
                                                                   placeholder="Quotation" value="@Model.QuotationNo" readonly />
                                                            <input type="hidden" name="preQuotation" id="preQuotation" value="@Model.QuotationNo" />

                                                            @if (isCanEdit)
                                                            {
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary btn-primary" type="button"
                                                                            id="button-quotation">
                                                                        ..
                                                                    </button>

                                                                </div>
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary btn-warning" type="button"
                                                                            id="btnQT2SO">
                                                                        ดึงข้อมูล
                                                                    </button>

                                                                </div>
                                                            }
                                                        </div>

                                                        <input type="hidden" id="lbPreSONo" name="lbPreSONo" value="-" />
                                                        <input type="hidden" id="lbQuotationId" name="lbQuotationId" value="" />
                                                        <input type="hidden" id="lbSaleOrderId" name="lbSaleOrderId" value="@Model.SaleOrderId" />
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label for="CustomerId" class="col-sm-10 col-form-label">*ชื่อลูกค้า</label>
                                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                                        <select class="form-control" id="CustomerId" data-live-search="true"
                                                                name="CustomerId" @(!isCanEdit ? "disabled" : "")>
                                                            <option value="">กรุณาเลือก</option>
                                                            @foreach (TblCustomer it in optCustomer)
                                                            {
                                                                bool selected = it.CustomerName == Model.CustomerName;
                                                                <option value="@it.CustomerId" @(selected ? " selected=\" selected\"" : "" )>@it.CustomerName</option>
                                                            }
                                                        </select>
                                                        <input type="hidden" id="CustomerName" name="CustomerName" value="@Model.CustomerName" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ContractName" class="col-sm-10 col-form-label">ชื่อผู้ติดต่อ</label>
                                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" id="ContractName" name="ContractName"
                                                                   placeholder="ชื่อ" value="@Model.ContractName" @(!isCanEdit ? "disabled" : "") />

                                                            @if (isCanEdit)
                                                            {
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary btn-primary " type="button"
                                                                            id="button-contact">
                                                                        ...
                                                                    </button>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="BillingAddress" class="col-sm-10 col-form-label">ที่อยู่ออกบิล</label>
                                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" id="BillingAddress" name="BillingAddress" value="@Model.BillingAddress" />
                                                            @if (isCanEdit)
                                                            {
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary btn-primary" type="button"
                                                                            id="button-BillingAddress">
                                                                        ...
                                                                    </button>
                                                                </div>

                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ShippingAddress" class="col-sm-10 col-form-label">ที่อยู่จัดส่ง</label>
                                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" id="ShippingAddress" name="ShippingAddress" value="@Model.ShippingAddress" />

                                                            @if (isCanEdit)
                                                            {
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary btn-primary" type="button"
                                                                            id="button-ShippingAddress">
                                                                        ...
                                                                    </button>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="Remark" class="col-sm-10 col-form-label">หมายเหตุ</label>
                                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                                        <textarea rows="4" cols="47" class="form-control" name="SaleOrderRemark">@(Model ==null ? null : Model.SaleOrderRemark)</textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            @*Right panel*@

                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label for="CreateDate" class="col-sm-10 col-form-label">วันที่ออกเอกสาร</label>
                                                    <div class="input-group col-lg-6 col-md-10 col-sm-12">

                                                        <input type="text" class="form-control" name="CreatedDate" value="@(Model.CreatedDate!=null? Model.CreatedDate.Value.ToString("dd/MM/yyyy"):DateTime.Now.ToString("dd/MM/yyyy"))" readonly autocomplete="off" />
                                                        <span class="input-group-addon">
                                                            <i class="icon wb-calendar icon-2-5x text-success" aria-hidden="true"></i>
                                                        </span>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label for="CustomerTaxId" class="col-sm-10 col-form-label">เลขประจำตัวผู้เสียภาษี</label>
                                                    <div class="col-lg-6 col-md-10 col-sm-12">
                                                        <input type="text" class="form-control" name="CustomerTaxId" value="@(Model.Customer ==null ?  null : Model.Customer.CustomerTaxId)" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="SendDate" class="col-sm-10 col-form-label">วันที่สั่งขาย</label>
                                                    <div class="input-group col-lg-6 col-md-10 col-sm-12 date" data-provide="datepicker" data-date-format="dd/mm/yyyy">

                                                        <input type="text" class="form-control" placeholder="dd/MM/yyyy ค.ศ." name="DeliveryDate"
                                                               value="@(Model.DeliveryDate ==null ? DateTime.Now.ToString("dd/MM/yyyy") : Model.DeliveryDate.Value.ToString("dd/MM/yyyy"))" autocomplete="off" required />
                                                        <span class="input-group-addon">
                                                            <i class="icon wb-calendar icon-2-5x text-success" aria-hidden="true"></i>
                                                        </span>
                                                    </div>

                                                </div>


                                                <div class="form-group">
                                                    <label for="SaleName" class="col-sm-10 col-form-label">*พนักงานขาย</label>
                                                    <div class="col-lg-6 col-md-10 col-sm-12">
                                                        <select class="form-control" id="SaleId" data-live-search="true" @(!isCanEdit ? "disabled" : "")
                                                                name="SaleId">
                                                            <option value="">กรุณาเลือก</option>
                                                            @foreach (TblEmployee it in optEmployee)
                                                            {

                                                                bool selected = it.EmpId == (Model.SaleId == 0 ? (sysAccount.TblEmployee != null ? sysAccount.TblEmployee.EmpId : 0) : Model.SaleId);
                                                                <option value="@it.EmpId" @(selected ? " selected=\" selected\"" : "" )>@it.EmpNameTh</option>
                                                            }
                                                        </select>
                                                        <input type="hidden" id="SaleName" name="SaleName" value="@Model.SaleName" />
                                                    </div>
                                                </div>
                                                @*Payment*@
                                                <div class="form-group">
                                                    <label for="PriceValidity" class="col-sm-10 col-form-label">เงื่อนไขการชำระเงิน</label>
                                                    <div class="col-lg-6 col-md-10 col-sm-12">
                                                        <select name="ConditionId" id="ConditionId" class="form-control">
                                                            @foreach (EnmPaymentCondition it in optPayment)
                                                            {
                                                                bool selected = it.ConditionId == Model.ConditionId;
                                                                <option value="@it.ConditionId" @(selected ? " selected=\" selected\"" : "" )>@it.ConditionName</option>
                                                            }
                                                            @*<option value="1" @(Model.ConditionId == 1 ? " selected=\" selected\"" : "" )>จ่าย 100% หลังติดตั้งงาน</option>
                                <option value="2" @(Model.ConditionId == 2 ? " selected=\" selected\"" : "" )>มัดจำ 100% ก่อนติดตั้งงาน</option>
                                <option value="3" @(Model.ConditionId == 3 ? " selected=\" selected\"" : "" )>2 งวด 50/50</option>*@
                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <label for="CreditDate" class="col-sm-10 col-form-label">จำนวนวันเครดิต</label>
                                                    <div class="col-lg-6 col-md-10 col-sm-12">
                                                        <input type="number" class="form-control" name="SaleOrderCreditDay" value="@Model.SaleOrderCreditDay" />
                                                    </div>
                                                </div>
                                                @*QT Status*@
                                                <div class="form-group">
                                                    <label for="PriceValidity" class="col-sm-5 col-form-label">สถานะเอกสาร</label>
                                                    <div class="col-lg-6 col-md-10 col-sm-12">
                                                        <select name="StatusId" id="StatusId" class="form-control">
                                                            <option class="text-primary" value="1" @(Model.StatusId == 1 ? " selected=\" selected\"" : "" )>เปิด</option>
                                                            <option class="text-success" value="2" @(Model.StatusId == 2 ? " selected=\" selected\"" : "" )>ปิด</option>
                                                            <option class="text-muted" value="3" @(Model.StatusId == 3 ? " selected=\" selected\"" : "" )>ยกเลิก</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (isCanEdit && Model.SaleOrderId > 0)
                                    {
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        @if (optPermission.IsEdit)
                                                        {
                                                            <button type="submit" id="btnNextStep" class="btn btn-primary">@(Model.SaleOrderId > 0 ? "บันทึก" : "ต่อไป")</button><b>&nbsp;</b>
                                                        }

                                                        <a href="@Url.Action("Index", "SaleOrder")" class="btn btn-default">ยกเลิก</a>
                                                        @if (Model.SaleOrderId > 0)
                                                        {
                                                            <!-- <a href="@Url.Action("Detail", new { controller = "JobOrder", area = "", SaleOrderId = Model.SaleOrderId })" class="btn btn-warning">สร้างใบสั่งงาน</a>-->
                                                        }
                                                        @if (optPermission.IsManager)
                                                        {
                                                            <button type="submit" id="btnConfirm" class="btn btn-success btnConfirm invisible">
                                                                อนุมัติ
                                                            </button><b>&nbsp;</b>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="tab-2" class="tab-content">
                    @*panel Add Product*@

                    <div class="card-block" data-tab-page="navProducts">
                        <div class="col-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        รายการสินค้า&nbsp;
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    @if (isCanEdit)
                                    {
                                        <div class="row">
                                            <div class="col-12">
                                                <form method="post" action="@Url.Action("AddProduct", "SaleOrder")" id="frmProduct" enctype="multipart/form-data">
                                                    <input type="hidden" name="SaleOrderId" value="@Model.SaleOrderId" />

                                                    <input type="hidden" name="SelQSaleOrderProductId" id="SelQSaleOrderProductId" />
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-6 col-sm-12  form-group">
                                                            <label for="PileId" class="form-control-label">รหัสสินค้า</label>
                                                            <div class="input-group">
                                                                <select class="form-control" id="selProduct" data-live-search="true"
                                                                        name="selProduct">
                                                                    <option value="">กรุณาเลือก</option>

                                                                    @foreach (var it in optProduct.Where(o => o.PriceNet > 0))
                                                                    {
                                                                        <option value="@it.ProductId" title="@it.PriceNet">@it.ProductCode @it.ProductName [@it.PriceNet] </option>
                                                                    }



                                                                </select>
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary btn-info" type="button"
                                                                            id="btnProduct">
                                                                        ...
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-6 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label for="Qty" class="form-control-label">คลัง</label>
                                                                <select class="form-control" id="selWareHose" data-live-search="true"
                                                                        name="selWareHose">
                                                                    <option value="">กรุณาเลือก</option>

                                                                    @foreach (var it in optWareHouse)
                                                                    {
                                                                        <option value="@it.Whid">@it.Whname</option>
                                                                    }



                                                                </select>

                                                            </div>

                                                        </div>
                                                        <div class="col-lg-1 col-md-6  col-sm-12 form-group">
                                                            <label for="Qty" class="form-control-label">คงเหลือ</label>
                                                            <input type="number" class="form-control" id="ProductOnhandQty" name="ProductOnhandQty" readonly value="" />
                                                        </div>
                                                        <div class="col-lg-1 col-md-6 col-sm-12 form-group">
                                                            <label for="Qty" class="form-control-label">จำนวน</label>
                                                            <input type="number" class="form-control" id="ProductQty" name="ProductQty" value="1" />
                                                        </div>
                                                        <div class="col-lg-1 col-md-6  col-sm-12 form-group">
                                                            <label for="Price" class="form-control-label">ราคา</label>
                                                            <input type="text" class="form-control" id="ProductPrice" name="ProductPrice" />
                                                        </div>
                                                        <div class="col-lg-2 col-md-6  col-sm-12 form-group">
                                                            <label for="Discount" class="form-control-label">ส่วนลด</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control Number" id="ProductDiscount" name="ProductDiscount" />
                                                                <div class="input-group-append">
                                                                    <select class="form-control selCalType" id="selCalType" name="selCalType">
                                                                        <option value="1">%</option>
                                                                        <option value="2">บาท</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-6  col-xs-12 form-group">
                                                            <label for="NetPrice" class="form-control-label">ราคาสุทธิ</label>
                                                            <input type="text" class="form-control Number" readonly id="NetPrice" name="NetPrice" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6  col-xs-12 form-group">
                                                            <label for="Remark" class="form-control-label">หมายเหตุ</label>
                                                            <textarea class="form-control" id="Remark" name="Remark"></textarea>
                                                        </div>
                                                    </div>
                                                    @if (optPermission.IsEdit && optPermission.IsEdit)
                                                    {
                                                        <button type="submit" class="btn btn-primary" id="btnAddProduct">เพิ่ม</button>
                                                    }
                                                </form>
                                            </div>
                                        </div>
                                      
                                    }
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            @if (!kemrex.IsMobileBrowser())
                                                            {
                                                                <th>สินค้า</th>
                                                                <th>คลังสินค้า</th>
                                                                <th>จำนวน</th>
                                                                <th>ราคา</th>
                                                                <th>ส่วนลด</th>
                                                                <th>รวม</th>
                                                                <th>รวม VAT(7%)</th>
                                                                <th>เครื่องมือ</th>
                                                                <th>หมายเหตุ</th>
                                                            }
                                                            else
                                                            {
                                                                <th>รายการ</th>

                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (!kemrex.IsMobileBrowser())
                                                        {

                                                            if (optSoDetail.Count() <= 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="7">ไม่พบข้อมูล</td>
                                                                </tr>
                                                            }
                                                            foreach (var ob in optSoDetail)
                                                            {
                                                                string calType = (ob.CalType == 1 ? string.Format("({0}%)", ob.Discount.ToString("#,#0.0")) : "(บาท)");
                                                                <tr data="@ob.Id"
                                                                    ProductId="@ob.ProductId"
                                                                    Whid="@ob.WHId"
                                                                    Qty="@ob.Quantity"
                                                                    PriceUnit="@ob.PriceUnit"
                                                                    DiscountNet="@ob.DiscountNet"
                                                                    CalType="@ob.CalType"
                                                                    Discount="@ob.Discount"
                                                                    Remark="@ob.Remark">
                                                                    <td>@ob.Product.ProductCode @ob.Product.ProductName</td>
                                                                    <td>@ob.WareHouse.Whname</td>
                                                                    <td>@ob.Quantity</td>
                                                                    <td>@ob.PriceUnit.ToString("#,#0.00")</td>
                                                                    <td>@ob.DiscountNet.ToString("#,#0.00") @calType</td>
                                                                    <td>@ob.TotalNet.Value.ToString("#,#0.00")</td>
                                                                    <td>@ob.TotalTot.Value.ToString("#,#0.00")</td>
                                                                    <td>
                                                                        <input type="hidden" class="Discount" name="Discount" value="@ob.Discount" />

                                                                        <input type="hidden" class="CalType" name="CalType" value="@ob.CalType" />
                                                                        <input type="hidden" name="SaleOrderId" value="@Model.SaleOrderId" />
                                                                        <input type="hidden" name="Id" id="Id" value="@ob.Id" />

                                                                        @if (isCanEdit && optPermission.IsEdit)
                                                                        {

                                                                            @* @Html.AntiForgeryToken()*@
                                                                            <button type="submit" class="btn btn-primary btn-xs btnEditProduct" id="btnEditProduct"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;แก้ไข</button>
                                                                            <button type="submit" class="btn btn-danger btn-xs btnDelete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;ลบ</button>

                                                                        }
                                                                    </td>
                                                                    <td>@ob.Remark</td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (optSoDetail.Count() <= 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="1">ไม่พบข้อมูล</td>
                                                                </tr>
                                                            }
                                                            foreach (var ob in optSoDetail)
                                                            {
                                                                string calType = (ob.CalType == 1 ? string.Format("({0}%)", ob.Discount.ToString("#,#0.0")) : "(บาท)");
                                                                <tr data="@ob.Id"
                                                                    ProductId="@ob.ProductId"
                                                                    Whid="@ob.WHId"
                                                                    Qty="@ob.Quantity"
                                                                    PriceUnit="@ob.PriceUnit"
                                                                    DiscountNet="@ob.DiscountNet"
                                                                    CalType="@ob.CalType"
                                                                    Discount="@ob.Discount"
                                                                    Remark="@ob.Remark">
                                                                    <td>
                                                                        <div class="content">
                                                                            <div class="row">
                                                                                <div class="col-sm-5">
                                                                                    <div class="icon-big text-center"></div>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <div>
                                                                                        <div class="col-sm-12">
                                                                                            <div class="textrow">
                                                                                                <div class="text-primary"><b>สินค้า</b></div> : <div class="text-default">@ob.Product.ProductCode @ob.Product.ProductName</div>
                                                                                            </div>
                                                                                        </div><div class="col-sm-12">
                                                                                            <div class="textrow">
                                                                                                <div class="text-primary"><b>คลัง</b></div>  : @ob.WareHouse.Whname
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-12">
                                                                                            <div class="textrow">
                                                                                                <div class="text-primary"><b>จำนวน</b></div> : @ob.Quantity
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-12">
                                                                                            <div class="textrow">
                                                                                                <div class="text-primary"><b>ราคา</b></div> : @ob.PriceUnit.ToString("#,#0.00")
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-12">
                                                                                            <div class="textrow">
                                                                                                <div class="text-primary"><b>ส่วนลด</b></div> : @ob.DiscountNet.ToString("#,#0.00")
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-12">
                                                                                            <div class="textrow">
                                                                                                <div class="text-primary"><b>รวม</b></div> : @ob.TotalNet.Value.ToString("#,#0.00")
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-sm-12">
                                                                                            <div class="textrow">
                                                                                                <div class="text-primary"><b>รวม VAT(7%)</b></div> : @ob.TotalTot.Value.ToString("#,#0.00")
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-12">
                                                                                            <div class="textrow">
                                                                                                <div class="text-primary"><b>หมายเหตุ</b></div> :@ob.Remark
                                                                                            </div>
                                                                                        </div>
                                                                                        <div>

                                                                                            @if (isCanEdit && optPermission.IsEdit)
                                                                                            {
                                                                                                <button type="submit" class="btn btn-primary btn-md btn-floating btnEditProduct" id="btnEditProduct">
                                                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                                </button>


                                                                                                <button type="submit" name="btnDelete" class="btn btn-danger btn-floating btn-md btnDelete">
                                                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                                </button>
                                                                                            }


                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </td>

                                                                </tr>
                                                            }

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer">

                                </div>

                            </div>
                            <div class="panel">

                                <div class="col-md-auto">
                                    ผลรวม
                                    <hr size=2>
                                    <form method="post" action="@Url.Action("saveDiscount", "SaleOrder")" id="frmDiscount" name="frmDiscount" enctype="multipart/form-data">
                                        <input type="hidden" name="SaleOrderId" value="@Model.SaleOrderId" />
                                        <div class="form-group row">
                                            <label for="SubTotal" class="col-sm-5 col-form-label">ยอดก่อนลด</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SubTotal" name="SubTotalNet"
                                                       style="text-align: right"
                                                       value="@(Model.SubTotalNet.HasValue?Model.SubTotalNet.Value.ToString("#,#0.00"):"0")" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Discount" class="col-sm-5 col-form-label">ส่วนลดในรายการ</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="Discount"
                                                       style="text-align: right"
                                                       value="@(Model.DiscountNet.HasValue?Model.DiscountNet.Value.ToString("#,#0.00"):"0")" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="TotalDiscount" class="col-sm-5 col-form-label">ยอดหลังหักส่วนลด</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="TotalDiscount" style="text-align: right" value="@(Model.SummaryNet.HasValue?Model.SummaryNet.Value.ToString("#,#0.00"):"0")" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Vat" class="col-sm-5 col-form-label">อัตราภาษี(7%)</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="Vat"
                                                       style="text-align: right"
                                                       value="@(Model.SummaryVat.HasValue?Model.SummaryVat.Value.ToString("#,#0.00"):"0")" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Discount" class="col-sm-5 col-form-label">ส่วนลดเงินสด</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="DiscountCash" name="DiscountCash"
                                                       style="text-align: right"
                                                       value="@(Model.DiscountCash.HasValue?Model.DiscountCash.Value.ToString("#,#0.00"):"0")" onChange="calDiscount()" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Total" class="col-sm-5 col-form-label">จำนวนทั้งสิ้น</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SummaryTot"
                                                       style="text-align: right"
                                                       value="@(Model.SummaryTot.HasValue?Model.SummaryTot.Value.ToString("#,#0.00"):"0")" readonly />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                @if (isCanEdit && optPermission.IsEdit)
                                                {
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary btnSaveDiscount">บันทึกส่วนลด</button>&nbsp;
                                                        <a href="@Url.Action("Detail", "SaleOrder")" class="btn btn-default">ยกเลิก</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End panel Add product*@

                </div>
                <div id="tab-3" class="tab-content">
                    @*panel Attachment*@
                    <div class="card-block" data-tab-page="navAttachment">
                        <div class="col-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        รายการเอกสาร&nbsp;
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>ชื่อไฟล์</th>
                                                            <th>ชนิด</th>
                                                            <th>เครื่องมือ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var at in optAttachment)
                                                        {
                                                            <tr>

                                                                <td>
                                                                    <a href="@Url.Content("~/" + at.AttachmentPath)" target="_blank"> @Path.GetFileName(at.AttachmentPath)</a>
                                                                </td>
                                                                <td>@at.AttachmentRemark</td>
                                                                <td>
                                                                    <form method="post" action="@Url.Action("DeleteFile", new { controller = "SaleOrder" })"
                                                                          class="fnc-delete inline-block">
                                                                        <input type="hidden" name="soId" value="@at.SaleOrderId" />
                                                                        <input type="hidden" name="atId" value="@at.Id" />
                                                                        <input type="hidden" name="atName" value="@at.AttachmentPath" />
                                                                        @* @Html.AntiForgeryToken()*@
                                                                        @if (isCanEdit)
                                                                        {
                                                                            <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;ลบ</button>
                                                                        }
                                                                    </form>
                                                                </td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    @if (isCanEdit)
                                    {
                                        <div class="panel-footer">
                                            <div class="col-md-6 col-sm-12">
                                                <form method="post" action="@Url.Action("UploadFile", "SaleOrder")" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label for="FileAttachment" class="form-control-label">เพิ่มเอกสาร</label>
                                                        <input type="file" name="FileAttachment" class="form-control-file" />
                                                        <input type="hidden" name="soId" value="@Model.SaleOrderId" />
                                                    </div>
                                                    <button type="submit" class="btn btn-success">เพิ่ม</button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End panel Attachment*@

                </div>





            </div>
        </div>
    </div>

    <!-- Address Modal -->
    <div class="modal fade" id="AddressModal" tabindex="-1" role="dialog" aria-labelledby="จัดการที่อยู่" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbCustomerId" hidden></label></h5>
                    <h2><label id="lbCustomerName">ไม่พบข้อมูลลูกค้า</label></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <a href="@Url.Action("Detail", new { area = "",cusId=Model.CustomerId,qtid=Model.SaleOrderId, controller = "CustomerAddress" })"
                       class="btn btn-xs btn-primary" style="color:white;" id="bnAddnewAddress">เพิ่ม</a>

                    <a href="@Url.Action("Detail", new { area = "",cusId=Model.CustomerId,qtid=Model.SaleOrderId, controller = "CustomerContact" })"
                       class="btn btn-xs btn-primary" style="color:white;" id="bnAddnewContact">เพิ่ม</a>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>กรุณาเลือก</th>
                                    <th>รายการ</th>
                                </tr>
                            </thead>
                            <tbody id="manageQuotation"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>

    <!-- Quotation Modal -->
    <div class="modal fade" id="QuotationModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbQuotationNo" hidden></label></h5>
                    <h2></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtStartDate" class="form-control-label">จากวันที่</label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input id="txtStartDate" type="text" class="form-control"
                                           placeholder="dd/MM/yyyy ค.ศ."
                                           name="txtStartDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtEndDate" class="form-control-label">ถึงวันที่</label>
                                <div class="input-group ช date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input id="txtEndDate" type="text" class="form-control" placeholder="dd/MM/yyyy ค.ศ." 
                                           value="@DateTime.Now.ToString("dd/MM/yyyy")"
                                           name="txtEndDate" />
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar icon-2-5x text-success" style="padding-left:2px" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">

                            <button class="btn btn-outline-secondary btn-primary btnSearchQuotation" style="margin-top:34px" type="button"
                                    id="btnSearchQuotation">
                                ค้นหา
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive divQuotation">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>กรุณาเลือก</th>
                                            <th>รายการ</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>
    <!-- Address Modal -->
    <!-- Product Modal -->
    <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-outline-secondary btn-primary btnSearchProduct " type="button"
                            id="btnSearchProduct">
                        ค้นหา
                    </button>
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbCustomerName" hidden></label></h5>
                    <h2></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Discount" class="col-sm-12 col-form-label">รหัสสินค้า</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="searchProductCode" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Discount" class="col-sm-12 col-form-label">ชื่อสินค้า</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="searchProductName" />
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive divProduct">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>กรุณาเลือก</th>
                                            <th>รหัสสินค้า</th>
                                            <th>ชื่อสินค้า</th>
                                            <th>ราคาต่อหน่วย</th>
                                            <th>Qty คงเหลือ</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>


</body>
