@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@model List<SysAccount>
@{
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel AlertModel = (WidgetAlertModel)ViewBag.Alert;
    //WidgetPaginationModel Pagination = (WidgetPaginationModel)ViewBag.Pagination;
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);

            $(SystemMenu).slideToggle();
            waitingDialog.show('Waiting for loading data', { dialogSize: 'md', progressType: 'primary' });
            LoadTable();
        });
        function LoadTable() {

            var html = '';
            var criteria = "";
            var url = '@Url.Action("GetAccountList", new { controller = "Account"})';
            var urlDetail = '@Url.Action("Detail", new { controller = "Account", area = ""})';
            var urlDelete = '@Url.Action("Delete", new { controller = "Account", area = ""})';
            $(".divDetail").empty();
            html += '<table class="table  table-striped table-hover "  >';
            html += '<thead>';
            html += '<tr class="table-primary" >';
            html += '<th>ชื่อบัญชี</th>';
            html += '<th>กลุ่มผุ้ใช้งาน</th>';
            html += '<th>ชื่อผู้ใช้งานา</th>';
            html += '<th>เครื่องมือ</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';

           

            $.ajax({
                url: url,
                type: "POST",
                // data: JSON.stringify(criteria),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data != null) {

                        $.each(data, function (index, item) {
                            html += '<tr>';
                            html += '<td>' + item.AccountUsername + '</td>';
                            html += '<td>' + (item.SysAccountRole != null && item.SysAccountRole.Role != null ? item.SysAccountRole.Role.RoleName : "") + '</td>';
                            html += '<td>' + item.AccountFirstName + '</td>';
                            
                            html += '<td>';
                            html += '<a href="' + urlDetail + '/' + item.AccountId + '" class="btn btn-xs btn-primary">';
                            html += '<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;แก้ไข </a>&nbsp;';
                            html += '<form method="post" action="@Url.Action("Delete", new { controller = "Account", are = "" })"';
                            html += 'class="fnc-delete inline-block"><input type="hidden" id="account_id" name="account_id" value="' + item.AccountId + '" /> @Html.AntiForgeryToken()';
                            html += '<button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;ลบ</button></form>';
                            html += '</td>';
                            html += '</tr>';
                        });
                    }
                    html += '</tbody>';
                    html += ' </table>';

                    $(".divDetail").append(html);
                    $(".divDetail table").DataTable(
                        {
                            //columnDefs: [
                            //    { type: 'date-uk', targets: 4 }
                            //],
                            order: [[0, 'asc']]
                        }
                    );
                    window.setTimeout(function () {
                        waitingDialog.hide();
                    }, 2000);
                },
                error: function (error) {
                    waitingDialog.hide();
                    //  waitingDialog.hide();
                }
            });
        }
    </script>
}

<div class="page">
    <div class="page-header">
        <h1 class="page-title">รายชื่อผู้ใช้งาน</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", new { controller = "Home", are = "" })" })">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Data</a></li>
            <li class="breadcrumb-item active">รายชื่อผู้ใช้งาน</li>
        </ol>
    </div>

    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-12">
                @if (ViewBag.Alert != null)
                {
                    @Html.Partial(kemrex.PathViewShared("_wgAlert"), AlertModel)
                }
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">รายชื่อผู้ใช้งาน&nbsp;<a href="@Url.Action("Detail", new { are = "", controller = "Account" })" class="btn btn-xs btn-primary" style="color:white;">เพิ่มข้อมูล</a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="panel-body dataTables_wrapper">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive divDetail">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>ชื่อบัญชี</th>
                                                <th>กลุ่มผุ้ใช้งาน</th>
                                                <th>ชื่อผู้ใช้งาน</th>
                                                <th>เครื่องมือ</th>
                                            </tr>
                                        </thead>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</div>
