@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@model TblUnit
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
            $(BasicMenu).slideToggle();
        });
    </script>
}

<div class="page">
    <div class="page-content container-fluid">
        @if (ViewBag.Alert != null)
        {
            <div class="row">
                <div class="col-12">
                    @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @(Model.UnitId > 0 ? "แก้ไข" : "เพิ่ม")หน่วยนับ
                            <span class="panel-desc">รายละเอียดหน่วยนับสินค้า</span>
                        </h3>
                    </div>
                    <form method="post" action="@Url.Action("Detail", "Unit")" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="UnitId" value="@Model.UnitId" />
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="UnitName" class="form-control-label">ชื่อหน่วยนับ</label>
                                        <input type="text" class="form-control" name="UnitName" value="@Model.UnitName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="UnitDetail" class="form-control-label">หมายเหตุ</label>
                                        <input type="text" class="form-control" name="UnitDetail" value="@Model.UnitDetail" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <label for="FlagActive" class="mandatory">สถานะ</label>
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio"
                                                   name="FlagActive" value="0"
                                                   @(!(Model.FlagActive ?? false) ? " checked=\"checked\"" : "") />ไม่ใช้งาน
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"
                                                   name="FlagActive" value="1"
                                                   @((Model.FlagActive ?? false) ? " checked=\"checked\"" : "") />ใช้งาน
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">บันทึก</button>&nbsp;
                                        <a href="@Url.Action("Index", "Unit")" class="btn btn-default">ยกเลิก</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>