@using Kemrex.Web.Common.Models
@model WidgetPaginationModel

@if (Model.Total > Model.Size)
{
    <ul class="pagination">
        <li class="paginate_button previous@(Model.Page == 1 ? " disabled" : "")"><a href="@Url.Action(Model.Action, new { controller = Model.Controller, area = Model.Area, sort = Model.SortExp, page = (Model.Page - 1), size = Model.Size })"><i class="fa fa-angle-left"></i></a></li>
        @if ((Model.Page - 2) > 1)
        {
            <li class="paginate_button"><a href="@Url.Action(Model.Action, new { controller = Model.Controller, area = Model.Area, sort = Model.SortExp, page = 1, size = Model.Size })">1</a></li>
            if ((Model.Page - 3) > 1)
            {
                <li class="paginate_button disabled"><a href="javascript:;">...</a></li>
            }
        }
        @for (int i = 1; i <= Model.Last; i++)
        {
            if (i >= (Model.Page - 2) && i <= (Model.Page + 2))
            {
                <li class="page-link@(Model.Page == i ? " active" : "")"><a href="@Url.Action(Model.Action, new { controller = Model.Controller, area = Model.Area, sort = Model.SortExp, page = i, size = Model.Size })">@i</a></li>
            }
        }
        @if ((Model.Page + 2) < Model.Last)
        {
            if ((Model.Page - 3) > 1)
            {
                <li class="paginate_button disabled"><a href="javascript:;">...</a></li>
            }
            <li class="paginate_button"><a href="@Url.Action(Model.Action, new { controller = Model.Controller, area = Model.Area, sort = Model.SortExp, page = Model.Last, size = Model.Size })">@Model.Last</a></li>
        }
        <li class="paginate_button next@(Model.Page == Model.Last ? " disabled" : "")"><a href="@Url.Action(Model.Action, new { controller = Model.Controller, area = Model.Area, sort = Model.SortExp, page = (Model.Page + 1), size = Model.Size })"><i class="fa fa-angle-right"></i></a></li>
    </ul>
}
