@using Kemrex.Core.Database.Models
@using Kemrex.Web.Controllers.Base
@using Kemrex.Web.Common.Models
@model TblPosition
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;
}

@section script {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
        });
    </script>
}

<div class="page">
    <div class="page-content container-fluid">
        @if (ViewBag.Alert != null)
        {
            <div class="row">
                <div class="col-12">
                    @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @(Model.PositionId > 0 ? "เพิ่ม" : "แก้ไข")ตำแหน่ง
                            <span class="panel-desc">รายละเอียดตำแหน่ง</span>
                        </h3>
                    </div>
                    <form method="post" action="@Url.Action("Detail", "Position")">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PositionId" value="@Model.PositionId" />
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="PositionName" class="form-control-label">ชื่อตำแหน่ง</label>
                                        <input type="text" class="form-control" name="PositionName" value="@Model.PositionName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">บันทึก</button>&nbsp;
                                        <a href="@Url.Action("Index", "Position")" class="btn btn-default">ยกเลิก</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>