@using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@model TblCustomerAddress
@{
    ViewBag.Title = "ที่อยู่ลูกค้า";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;
    int? QtId = (int?)ViewData["QtId"];
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);

            $("select[name=SubDistrictId]").select2({
                ajax: {
                    url: '@Url.Action("GetStateList", "System")',
                    width: 'resolve',
                    data: function (params) {
                        return {
                            q: params.term// search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    },
                    minimumInputLength: 2,
                    width: 'resolve'
                }
            });
        });
    </script>
}
<div class="page">
    <div class="page-content container-fluid">
        @if (ViewBag.Alert != null)
        {
            <div class="row">
                <div class="col-12">
                    @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @(Model.CustomerId > 0 ? "แก้ไข" : "เพิ่ม")ที่อยู่ลูกค้า
                            <span class="panel-desc">รายละเอียดลูกค้า</span>
                        </h3>
                    </div>
                    <form method="post" action="@Url.Action("Detail", "CustomerAddress")" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="AddressId" value="@Model.AddressId" />
                        <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                        @if (QtId.HasValue && (QtId ?? 0) > 0)
                        {
                            <input type="hidden" name="QtId" value="@(QtId ?? 0)" />
                        }
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-control-label">ชื่อลูกค้า</label>
                                        <input type="text" class="form-control" value="@Model.Customer.CustomerName" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="AddressName" class="form-control-label">ชื่อที่อยู่</label>
                                        <input type="text" class="form-control" name="AddressName" value="@Model.AddressName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="AddressValue" class="form-control-label">ที่อยู่</label>
                                        <input type="text" class="form-control" name="AddressValue" value="@Model.AddressValue" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <label for="KptLocation" class="mandatory">ตำบล > อำเภอ > จังหวัด</label>
                                        <select name="SubDistrictId" class="form-control">
                                            @if (Model.SubDistrict != null && (Model.SubDistrictId ?? 0) > 0)
                                            {
                                                <option value="@Model.SubDistrictId.Value" selected="selected">@Model.SubDistrict.SubDistrictNameTh > @Model.SubDistrict.District.DistrictNameTh > @Model.SubDistrict.District.State.StateNameTh</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label for="AddressPostcode" class="form-control-label">รหัสไปรษณีย์</label>
                                        <input type="text" class="form-control" name="AddressPostcode" value="@Model.AddressPostcode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="AddressContact" class="form-control-label">ชื่อผู้ติดต่อ</label>
                                        <input type="text" class="form-control" name="AddressContact" value="@Model.AddressContact" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="AddressContactPhone" class="form-control-label">โทรศัพท์</label>
                                        <input type="text" class="form-control" name="AddressContactPhone" value="@Model.AddressContactPhone" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="AddressContactEmail" class="form-control-label">E-Mail</label>
                                        <input type="email" class="form-control" name="AddressContactEmail" value="@Model.AddressContactEmail" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="AddressOrder" class="form-control-label">ลำดับ</label>
                                        <input type="number" class="form-control" name="AddressOrder" value="@Model.AddressOrder" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">บันทึก</button>&nbsp;
                                        <a href="@Url.Action("Detail", "Customer", new { id = Model.CustomerId })" class="btn btn-default">ยกเลิก</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>