    @using Kemrex.Core.Database.Models
@using Kemrex.Web.Common.Controllers
@using Kemrex.Web.Common.Models
@using Kemrex.Core.Common.Helper
@using Kemrex.Core.Common.Helper
@model TblQuotation
@{
    ViewBag.Title = "Index";
    KemrexController kemrex = ((KemrexController)this.ViewContext.Controller);
    Layout = kemrex.PathViewShared("_lyDefault");
    WidgetAlertModel Alert = (WidgetAlertModel)ViewBag.Alert;


    SysAccount sysAccount = (SysAccount
)ViewData["userAccount"];

    List<TblCustomer>
optCustomer = (List<TblCustomer>
)ViewData["optCustomer"];
    List<TblCustomerAddress>
        optCustomerAddress = (List<TblCustomerAddress>
            )ViewData["optCustomerAddress"];
    List<TblQuotationDetail>
        optQtDetail = (List<TblQuotationDetail>
            )ViewData["optQtDetail"];
    List<TblProduct>
    optProduct = (List<TblProduct>
        )ViewData["optProduct"];
    List<TblCustomerContact>
optContact = (List<TblCustomerContact>
    )ViewData["optContact"];
    List<TblEmployee>
optEmployee = (List<TblEmployee>
)ViewData["optEmployee"];
    AccountPermission optPermission = (AccountPermission
            )ViewData["optPermission"];

    List<TblWareHouse>
   optWareHouse = (List<TblWareHouse>
       )ViewData["optWareHouse"];

    List<TblQuotationDisplay>
 opQuotationTemplate = (List<TblQuotationDisplay>
     )ViewData["opQuotationTemplate"];

    

}

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet">
          }
          @section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">

        var _contact = [];
        var objAddressList  = [];
        var objContacList = [];
        $(document).ready(function () {

            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);


            if (getUrlVars()["tab"] == "Product") {
                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');
                $("#tab-2").addClass('current');
                $("li[data-tab='tab-2']").addClass('current');
              //  data-tab="tab-2"

            }

            if (@Model.StatusId>= 4) {

                $("#frmMain :input").prop("disabled", true);
            }


            $(SaleMenu).slideToggle();


            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

            $('#btnNextStep').click(function () {


                isConfirm = ValidationAll();




                if (isConfirm) {

                    swal({
                        title: "SAVE",
                        text: "Do you want to save?",
                        type: "info",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $('#frmMain').submit();

                            }
                        });
                }

                return false;

            });

            $('.btnGetVersion').click(function () {

                if ($("#selVersion").val() == "") {
                    $("#selVersion").addClass("has-error");
                    chkValidate = false;
                } else {
                    $("#selVersion").removeClass("has-error");

                    $('#TempQuotationId').val($('#selVersion').val());
                    swal({
                        title: "GET",
                        text: "Do you want to replace quotation?",
                        type: "warning",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $('#frmMain').attr('action', '@Url.Action("ReplaceTemplate", new { controller = "Quotation" })');
                                $('#frmMain').submit();

                            }
                        });
                }
              

                return false;

            });
            



       //     var tab = TabPages.init('myTabPage');
            //tab.selectTab('navInfo');

          //  var myTabElement = new TabPages('myTabPage');
          //  myTabElement.initTabs();
         //   myTabElement.selectTab('navInfo');



            calDiscount();
        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function calDiscount() {
            var st = document.getElementById("SummaryTot").value.replace(",","");
            var dc = document.getElementById("DiscountCash").value.replace(",", "");
            if (dc > 0)
            {
                document.getElementById("SummaryTot").value = numeral(st - dc).format('0,0.00');
            }
        }

        // Get CustomerAddress by customer id
        function getAddress(e) {
           var _customerAddress = [];
            var myArray = [];
            var id = document.getElementById("CustomerId").value;
            @foreach (var d in optCustomerAddress.ToArray())
            {
                @:myArray.push("@d.CustomerId:@d.AddressId:@d.AddressName-@d.AddressText");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
                if (i[0] == id)
                    _customerAddress.push(e);
            })
            return _customerAddress.toString();
        }

        // Get CustomerContact by customer id
        function getContact(e) {

            var myArray = [];
            var con = [];
            var id = document.getElementById("CustomerId").value;
            @foreach (var d in optContact.ToArray())
            {
                @:myArray.push("@d.CustomerId:@d.ContactId:@d.ContactName:@d.ContactPhone:@d.ContactEmail");
            }
            var addr = [];
            myArray.forEach(function (e) {
                var i = e.split(':');
                if (i[0] == id)
                    con.push(e);
            })
            return con.toString();
        }
        // Modal customer address
        function showSelectModal(addr,name) {
            var id = document.getElementById("CustomerId").value;

            document.getElementById("lbCustomerId").innerText = id;
            document.getElementById("lbCustomerName").innerText = document.getElementById("CustomerName").value;

            var msg = "";
            var a = addr.split(',');

            if (a != "") {
                a.forEach(function (e) {
                    var x = e.split(':');
                    msg += '<tr> ';

                    msg += '<td>';
                    msg += '<input type="hidden" name="AddressId" value=\'' + x[1] + '\' />';
                    msg += ' <a data-dismiss="modal" onclick="setSelectToText(\'' + name + '\',\'' + x[2] + '\')"';
                    msg += ' class="btn btn-info btn-sm" " style="color:white;">';
                    msg += ' เลือก';
                    msg += '  </a>';
                    msg += '</td >';
                    msg += '<td>' + x[2] + ' </td>  ';
                    msg += '</tr>';
                }
                );
            } else {
                msg = "<h4>ไม่พบข้อมูล</h4>";
            }
            //alert(msg);
            document.getElementById("manageCustomerAddress").innerHTML = msg;
        }
        function setSelectToText(name, val) {
            //  alert(name + ' ' + val);
            document.getElementById(name).value = val;

            // Set phone and email
            if (name == "ContractName")
            {

                var i = _contact.split(',');
                i.forEach(function (e) {
                    x = e.split(':');
                    if (x[2]==val)
                    {
                        setSelectToText("ContractPhone", x[3]);
                        setSelectToText("ContractEmail", x[4]);
                    }
                })

            }
        }


        $("#btnCustomer").click(function () {



            $("#CustomerModal").modal('show');

        })


        $(".btnEditProduct").click(function () {


        
            $("#SelQuotationProductId").val($(this).closest("tr").attr("data"));
            $("#selProduct").val($(this).closest("tr").attr("ProductId"));
            $("#ProductQty").val($(this).closest("tr").find('td:eq(2)').text());
            $("#ProductPrice").val($(this).closest("tr").find('td:eq(3)').text());
            $("#ProductDiscount").val($(this).closest("tr").find('.Discount').val());
            $("#Remark").val($(this).closest("tr").find('td:eq(8)').text());
            $(".selCalType").val($(this).closest("tr").find('.CalType').val());
            $("#selWareHose").val($(this).closest("tr").attr("Whid"));
            CalProductPrice(true);

            $.scrollTo('#SelQuotationProductId', 1500).scrollTo(0, 1500);
           
            return false;
            
        })


        $(".btnDelete").click(function () {


            var delQuoProductId = $(this).closest("tr").attr("data");
       
                swal({
                    title: "Delete",
                    text: "Do you want to delete?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $("#SelQuotationProductId").val(delQuoProductId);
                     $('#frmProduct').attr('action', '@Url.Action("DetailDelete", new { controller = "Quotation" })');
                      $('#frmProduct').submit();

                        }
                   });



            
              
         
          
            return false;

        })




        $("#btnProduct").click(function () {



            $("#ProductModal").modal('show');

        })

        $(".btnDiscount").click(function () {

            var isConfirm = true;
            if (isConfirm) {
                swal({
                    title: "SAVE",
                    text: "Do you want to add discount?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#frmDiscount').submit();

                        }
                    });
            }
            return false;
        });


                  $("#btnSearchProduct").click(function () {


            var html = '';
                   $('.divProduct').empty();

            html += '<table class="table table-hover">';
            html += '<thead> ';
            html += '<tr>';
                      html += '<th>กรุณาเลือก</th>';
                      html += '<th>รหัสสินค้า</th>';
                      html += '<th>ชื่อสินค้า</th>';
                      html += '<th>ราคาต่อหน่วย</th>';
                      html += '<th>Qty คงเหลือ</th>';
                      html += '<th>คลังสินค้า</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';



            var url = '@Url.Action("GetProduct", "Quotation")';
                   objAddressList = [];
                   objContacList = [];
                   $.ajax({
                type: "get",
                url: url,
                       data: {
                           ProductCode: $("#searchProductCode").val(),
                           ProductName: $("#searchProductName").val()
                       }
                       ,success: function (obj) {
                           $.each(obj, function (index, item) {



                               html += '<tr data=' + item.ProductId + ' whid=' + item.WareHouse.Whid+' >';
                               html += '<td><button type="button" class="btn btn-primary btnSelectProduct">เลิอก</button>';

                               html += '</td>';
                               html += '<td>' + item.ProductCode + '</td>';
                               html += '<td>' + item.ProductName + '</td>';
                               html += '<td>' + item.PriceNet + '</td>';
                               html += '<td>' + item.QtyStock + '</td>';
                               html += '<td>' + item.WareHouse.Whname + '</td>';
                               html += '</tr>';
                           });

                           html += '</tbody>';
                           html += '</table>';
                           html += ' </div>';


                           $('.divProduct').append(html);
                           $('.divProduct table').DataTable();
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                           alert(errorThrown);
                           //or you can put jqXHR.responseText somewhere as complete response. Its html.
                       }
                   });

        });


        function CalProductPrice(loadProductOnhand) {


            if (loadProductOnhand) {
                waitingDialog.show('Waiting for loading', { dialogSize: 'md', progressType: 'primary' });
                if ($("#ProductDiscount").val() == "") {
                    $("#ProductDiscount").val(0)
                }
                GetProductOnhand($("#selProduct").val(),
                    $("#selWareHose").val(),
                    function (data) {
                        $("#ProductOnhandQty").val(data.QtyStock);
                        window.setTimeout(function () {
                            waitingDialog.hide();
                        }, 1000);

                    }, function (error) {
                        window.setTimeout(function () {
                            waitingDialog.hide();
                        }, 1000);
                    });

            }
          var discount=  $("#ProductDiscount").val();
            var netTotal = parseFloat($("#ProductQty").val().replace(",", "")) * parseFloat($("#ProductPrice").val().replace(",", ""))

            switch ($(".selCalType").val()) {
              
                case '1':
                    netTotal = (netTotal - (netTotal * (discount / 100))).toFixed(2);
                    break;
                case '2':
                    netTotal = (netTotal - discount).toFixed(2);
                    break;
            }

            $("#NetPrice").val(numeral(netTotal).format('0,0.00'));

        
        }

         $("#ProductQty").change(function () {
            CalProductPrice();
        });
        $("#ProductQty").keyup(function () {
            CalProductPrice();
        });
        $("#ProductDiscount").keyup(function () {
            CalProductPrice();
        });
        $(".selCalType").change(function () {
            CalProductPrice();
        });



               $("#btnSearchCustomer").click(function () {


            var html = '';
                   $('.divCustomer').empty();

            html += '<table class="table table-hover">';
            html += '<thead> ';
            html += '<tr>';
            html += '<th>กรุณาเลือก</th>';
            html += '<th>รหัสลูกค้า</th>';
            html += '<th>ชื่อลูกค้า</th>';
            html += '<th>ผู้ติดต่อ</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';



            var url = '@Url.Action("GetCustomer", "Quotation")';
                   objAddressList = [];
                   objContacList = [];
                   $.ajax({
                type: "get",
                url: url,
                       data: {
                           CustomerNo: $("#searchCustomerNo").val(),
                           CustomerName: $("#searchCustomerName").val(),
                           ContactName: $("#searchContactName").val()
                       }
                       ,success: function (obj) {
                           $.each(obj, function (index, item) {

                               if (item.TblCustomerAddress != null && item.TblCustomerAddress.length>0)
                                   objAddressList.push(item.TblCustomerAddress[0]);

                               if (item.TblCustomerContact != null && item.TblCustomerContact.length > 0)
                               objContacList.push(item.TblCustomerContact[0]);

                               html += '<tr data=' + item.CustomerId + ' taxid=' + item.CustomerTaxId +' >';
                               html += '<td><button type="button" class="btn btn-primary btnSelectCustomer">เลิอก</button>';

                               html += '</td>';
                               html += '<td>' + item.CustomerId + '</td>';
                               html += '<td>' + item.CustomerName + '</td>';
                               html += '<td>' + (item.TblCustomerContact != null && item.TblCustomerContact.length>0 ? item.TblCustomerContact[0].ContactName :"") + '</td>';
                               html += '</tr>';
                           });

                           html += '</tbody>';
                           html += '</table>';
                           html += ' </div>';


                           $('.divCustomer').append(html);
                           $('.divCustomer table').DataTable();
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                           alert(errorThrown);
                           //or you can put jqXHR.responseText somewhere as complete response. Its html.
                       }
                   });

        });


        $(document).on("click", ".btnSelectProduct", function () {
            $('#selProduct').val($(this).closest('tr').attr('data'));
            $('#ProductPrice').val($(this).closest('tr').find("td:eq(3)").html());
            $("#selWareHose").val($(this).closest('tr').attr('whid'));
            $("#ProductModal").modal('hide');
            CalProductPrice(true);

        });

        $(document).on("click", ".btnSelectCustomer", function () {


            $('#CustomerName').val($(this).closest('tr').find("td:eq(2)").html());
            $('#CustomerId').val($(this).closest('tr').attr('data'));
            $('#CustomerTaxId').val($(this).closest('tr').attr('taxid'));

            var Address = $.grep(objAddressList, function (n, i) {
                return n.CustomerId == $('#CustomerId').val();
            });

            var Contact = $.grep(objContacList, function (n, i) {
                return n.CustomerId == $('#CustomerId').val();
            });


            $('#ContractName').val(Contact!=null && Contact.length>0?Contact[0].ContactName:"");
            $('#ContractPhone').val(Contact != null && Contact.length>0 ? Contact[0].ContactPhone : "");
            $('#ContractEmail').val(Contact != null && Contact.length > 0  ? Contact[0].ContactEmail : "");
            $('#BillingAddress').val(Address != null && Address.length>0  ? Address[0].AddressName : "");
            $('#ShippingAddress').val(Address != null && Contact.length>0 ? Address[0].AddressName : "");
            $("#CustomerModal").modal('hide');
        });


        function AddrValidation() {
            var chkValidate = true;
            if ($("#CustomerId").val() == "") {
                $("#CustomerId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#CustomerId").removeClass("has-error");
            }






            return chkValidate;

        }


        


        function ValidationAll() {
            var chkValidate = true;
            if ($("#CustomerId").val() == "") {
                $("#CustomerId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#CustomerId").removeClass("has-error");
            }

            if ($("#BillingAddress").val() == "") {
                $("#BillingAddress").addClass("has-error");
                chkValidate = false;
            } else {
                $("#BillingAddress").removeClass("has-error");
            }


            if ($("#DeliveryDate").val() == "" ) {
                $("#DeliveryDate").addClass("has-error");
                chkValidate = false;
            } else {
                $("#BilliDeliveryDatengAddress").removeClass("has-error");
            }


            if ($("#SaleId").val() == "" || $("#SaleId").val()=="-1") {
                $("#SaleId").addClass("has-error");
                chkValidate = false;
            } else {
                $("#SaleId").removeClass("has-error");
            }
            
           





            return chkValidate;

        }



        function AddProductValidation() {

           /* selProduct
            ProductQty
            ProductPrice
            ProductDiscount*/

            var chkValidate = true;


            if ($("#selProduct").val() == "") {
                $("#selProduct").addClass("has-error");
                chkValidate = false;
            } else {
                $("#ProductQty").removeClass("has-error");
            }

            if ($("#ProductQty").val() == "") {
                $("#ProductQty").addClass("has-error");
                chkValidate = false;
            } else {
                $("#ProductQty").removeClass("has-error");
            }


            if ($("#ProductPrice").val() == "") {
                $("#ProductPrice").addClass("has-error");
                chkValidate = false;
            } else {
                $("#ProductPrice").removeClass("has-error");
            }


            if ($("#ProductDiscount").val() == "") {
                $("#ProductDiscount").addClass("has-error");
                chkValidate = false;
            } else {
                $("#ProductDiscount").removeClass("has-error");
            }

            if ($("#selWareHose").val() == "") {
                $("#selWareHose").addClass("has-error");
                chkValidate = false;
            } else {
                $("#selWareHose").removeClass("has-error");
            }


         




            return chkValidate;

        }


        // Event

        $("#CustomerId").change(function () {
            var id = document.getElementById("CustomerId").value;
            document.getElementById("CustomerName").value = $(this).find("option:selected").text();
        })

        $("#SaleId").change(function () {
            var id = document.getElementById("SaleId").value;
            document.getElementById("SaleName").value = $(this).find("option:selected").text();
        })

        $("#button-BillingAddress").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "show";
            document.getElementById("bnAddnewContact").style.display = "none";
            showSelectModal(getAddress(), "BillingAddress");
            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
        })
        $("#button-ShippingAddress").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "show";
            document.getElementById("bnAddnewContact").style.display = "none";
            showSelectModal(getAddress(), "ShippingAddress");
            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
        })




        $("#button-contact").click(function () {
            document.getElementById("bnAddnewAddress").style.display = "none";
            document.getElementById("bnAddnewContact").style.display = "show";
            _contact = getContact();
            showSelectModal(_contact, "ContractName");


            if (AddrValidation()) {
                $('#AddressModal').modal('show');
            }
         //   #AddressModal
        })


        $("#btnAddProduct").click(function () {

            var isConfirm = AddProductValidation();


            if (isConfirm) {
                swal({
                    title: "SAVE",
                    text: "Do you want to save product?",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#frmProduct').submit();

                        }
                    });
            }
            return false;


          /*  selProduct
            ProductQty
            ProductPrice
            ProductDiscount
            */
        });


        

        $(document).on("click", ".btnSaveVersion", function () {
            var isConfirm = false;

            $('#hdCreateVersion').val(1);
            $('#TempQuotationId').val($('#selVersion').val());
            var titleText = $('#selVersion').val() != "" ? "Update version" : "Save new version";
            swal({
                title: titleText,
                text: "Do you want to keep quotation?",
                type: "success",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {

                      
                        
                        $('#frmMain').attr('action', '@Url.Action("AddVersion", "Quotation")');
                        $('#frmMain').submit();
                      
                    }
                });

            return false;
        });


                 $(document).on("click", ".btnConfirm", function () {
            var isConfirm = false;
            swal({
                title: "Approve",
                text: "Do you want to confirm?",
                type: "success",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {

                        $('#hdCreateVersion').val(1);
                        $('#TempQuotationId').val($('#selVersion').val());
                        $('#hdApprove').val(3);
                        $('#frmMain').attr('action', '@Url.Action("Detail", "Quotation")');
                        $('#frmMain').submit();

                    }
                });

            return false;
        });

        

        $("#StatusId").change(function () {
            if ($(this).val() == "4") {
                $(".btnConfirm").addClass("invisible");
            } else {
                $(".btnConfirm").removeClass("invisible");
            }
        });

        $("#selWareHose").change(function () {


         
            CalProductPrice(true);
         
        });
        // Product section
        $("#selProduct").change(function () {

         
            var dt = document.getElementById("selProduct").value;
            var price = 0;
            var p = dt.split(':');
            if (p[1] != null) {
                price = parseFloat(p[1]);
            }
            document.getElementById("ProductQty").value = 1;
            document.getElementById("ProductPrice").value = $("#selProduct option:selected").attr("title");
            document.getElementById("ProductDiscount").value = 0;

            CalProductPrice(true);



        })


            

        $("#button-EditCustomerAddress").click(function () {
            var id = document.getElementById("CustomerId").value;
            document.getElementById("caCustomerId").value = id;
            document.getElementById("lbcaCustomerName").innerHTML = document.getElementById("lbCustomerName").innerText;
        });
    </script>
}

<style type="text/css">

    ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            background: #ededed;
        }

            ul.tabs li.current {
                background: #ffffff;
                color: #222;
            }

    .tab-content {
        display: none;
        background: #ffffff;
        padding: 15px;
    }

        .tab-content.current {
            display: inherit;
        }
</style>

<body data-spy="scroll" data-target="#myTap" data-offset="300">

    <div class="page">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", new { controller = "Quotation", area = "" })" })" >ย้อนกลับ</a></li>
            </ol>
        </div>

        <div class="page-content container-fluid">
            @if (ViewBag.Alert != null)
            {
                <div class="row">
                    <div class="col-12">
                        @Html.Partial(kemrex.PathViewShared("_wgAlert"), Alert)
                    </div>
                </div>
            }
            <div class="panel-heading">
                <h3 class="panel-title">
                    @(Model.QuotationId > 0 ? "แก้ไข" : "เพิ่ม")เอกสาร
                    <span class="panel-desc">ใบเสนอราคา (Quotation)</span>
                </h3>
            </div>
            <div data-tabs="myTabPage">

                <ul class="tabs">
                    <li class="tab-link current" data-tab="tab-1">ข้อมูลพื้นฐาน</li>
                    @if (Model.QuotationId > 0)
                    {
                        <li class="tab-link" data-tab="tab-2">รายการสินค้า</li>
                    }
                </ul>

                <div id="tab-1" class="tab-content current">

                    <div class="card-block" id="navInfo" data-tab-page="navInfo">
                        <div class="row">
                            <div class="col-12">
                               
                                <a href="@Url.Action("PDFQuotation", new { controller = "export", area = "", id = Model.QuotationId })"
                                  target="_blank" class="btn btn-warning pull-right">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF
                                </a>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-sm-12 col-md-8 col-lg-8">
                             
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="input-group">
                                    @if (Model.StatusId > 0 && Model.StatusId <= 3)

                                    {
                                        <select class="form-control" id="selVersion" data-live-search="true"
                                                name="selVersion">
                                            <option value="">กรุณาเลือก version</option>

                                            @foreach (var it in opQuotationTemplate)
                                            {
                                                <option value="@it.TempQuotationId">@it.QuotationNo</option>
                                            }
                                        </select>
                                        <button type="submit" class="btn btn-success btnGetVersion pull-right" style="margin-right:5px;">Revise Version</button>
                                        <!--  <button type="submit" class="btn btn-primary btnSaveVersion pull-right">Keep Version</button>-->
                                    }
                                </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-12">

                                        <div class="">
                                            <form method="post" action="@Url.Action("Detail", "Quotation")" id="frmMain" enctype="multipart/form-data">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="QuotationId" value="@Model.QuotationId" />
                                                <input type="hidden" name="TempQuotationId"  id="TempQuotationId" />
                                                <input type="hidden" id="hdApprove" name="hdApprove" />
                                                <input type="hidden" id="hdCreateVersion" name="hdCreateVersion" />
                                                <div class="panel-body">
                                                    <div class="row">
                                                        @*Left panel*@
                                                        <div class="col-md-6 col-sm-12">

                                                            <div class="form-group">
                                                                <label for="QuotationNo" class="col-lg-4 col-sm-10 col-form-label">เลขที่ใบเสนอราคา</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                                    <input type="text" class="form-control" name="QuotationNo"
                                                                           placeholder="บันทึกเพื่อสร้าง" value="@Model.QuotationNo" readonly />
                                                                </div>

                                                            </div>
                                                            @*QT Status*@
                                                            <div class="form-group">
                                                                <label for="PriceValidity" class="col-sm-5 col-form-label">สถานะเอกสาร</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                                    <select name="StatusId" id="StatusId" class="form-control">
                                                                        @if (Model.StatusId <= 2)
                                                                        {
                                                                            <option class="text-muted" value="1" @(Model.StatusId == 1 ? " selected=\" selected\"" : "")>ร่าง</option>
                                                                            <option class="text-warning" value="2" @(Model.StatusId == 2 ? " selected=\" selected\"" : "")>ส่งอนุมัติ</option>
                                                                        }


                                                                        @if (Model.StatusId >=3)
                                                                        {
                                                                            <option class="text-primary" value="3" @(Model.StatusId == 3 ? " selected=\" selected\"" : "")>ส่งลูกค้า</option>
                                                                            if(Model.ApprovedBy>0)
                                                                            {
                                                                            <option class="text-success" value="4" @(Model.StatusId == 4 ? " selected=\" selected\"" : "")>ตอบรับ</option>
                                                                            <option class="text-dark" value="5" @(Model.StatusId == 5 ? " selected=\" selected\"" : "")>ยกเลิก</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="QuotationNo" class="col-sm-4 col-form-label">ชื่อลูกค้า</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                                    <div class="input-group mb-3">
                                                                        <input type="text" class="form-control" id="CustomerName" name="CustomerName"
                                                                               placeholder="ชื่อลูกค้า" value="@Model.CustomerName" readonly />

                                                                        @if (Model.StatusId <= 3)
                                                                        {
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-outline-secondary btn-primary btnCustomer" type="button"
                                                                                        id="btnCustomer">
                                                                                    ..
                                                                                </button>

                                                                            </div>

                                                                        }
                                                                    </div>



                                                                    <input type="hidden" id="CustomerId" name="CustomerId" value="@Model.CustomerId" />
                                                                </div>

                                                            </div>
                                                            <div class="form-group">

                                                                <label for="ContractName" class="col-sm-4 col-form-label">ชื่อผู้ติดต่อ</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                                    <div class="input-group mb-3">
                                                                        <input type="text" class="form-control" id="ContractName" name="ContractName"
                                                                               placeholder="ชื่อ" value="@Model.ContractName" />

                                                                        @if (Model.StatusId <= 3)
                                                                        {
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-outline-secondary btn-info" type="button"
                                                                                        id="button-contact">
                                                                                    ...
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-8 col-md-8 col-sm-12" style=" padding-top:10px">
                                                                    <input type="text" class="form-control" id="ContractPhone" name="ContractPhone"
                                                                           placeholder="เบอร์โทรศัพท์" value="@Model.ContractPhone" />
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-12" style=" padding-top:10px">
                                                                    <input type="text" class="form-control" id="ContractEmail" name="ContractEmail"
                                                                           placeholder="Email" value="@Model.ContractEmail" />
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <label for="BillingAddress" class="col-sm-4 col-form-label">ที่อยู่ออกบิล</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                                    <div class="input-group mb-3">
                                                                        <input type="text" class="form-control" id="BillingAddress" name="BillingAddress" value="@Model.BillingAddress" />
                                                                        @if (Model.StatusId <= 3)
                                                                        {
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-outline-secondary btn-info" type="button"
                                                                                        id="button-BillingAddress">
                                                                                    ...
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="ShippingAddress" class="col-sm-4 col-form-label">ที่อยู่จัดส่ง</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                                    <div class="input-group mb-3">
                                                                        <input type="text" class="form-control" id="ShippingAddress" name="ShippingAddress" value="@Model.ShippingAddress" />
                                                                        @if (Model.StatusId <= 3)
                                                                        {
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-outline-secondary btn-info" type="button"
                                                                                        id="button-ShippingAddress">
                                                                                    ...
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="Remark" class="col-sm-4 col-form-label">หมายเหตุ</label>
                                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                                    <textarea rows="4" cols="47" class="form-control" name="QuotationRemark">@(Model ==null ? null : Model.QuotationRemark)</textarea>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @*Right panel*@

                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <label for="CreateDate" class="col-sm-5 col-form-label">วันที่ออกเอกสาร</label>
                                                                <div class="input-group col-lg-6 col-md-6 col-sm-12">

                                                                    <input type="text" class="form-control" name="CreatedDate" value="@Model.CreatedDate.Value.ToString("dd/MM/yyyy")" readonly />
                                                                    <span class="input-group-addon">
                                                                        <i class="icon wb-calendar icon-2-5x text-success" aria-hidden="true"></i>
                                                                    </span>
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <label for="CustomerTaxId" class="col-sm-5 col-form-label">เลขประจำตัวผู้เสียภาษี</label>
                                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                                    <input type="text" class="form-control" name="CustomerTaxId" value="@(Model.Customer ==null ?  null : Model.Customer.CustomerTaxId)" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="SendDate" class="col-sm-5 col-form-label">วันที่กำหนดส่ง</label>
                                                                <div class="input-group col-lg-6 col-md-6 col-sm-12 date" data-provide="datepicker" data-date-format="dd/mm/yyyy">

                                                                    <input id="DeliveryDate" type="text" class="form-control" placeholder="dd/MM/yyyy ค.ศ." name="DeliveryDate"
                                                                           value="@(Model.DeliveryDate ==null ? DateTime.Now.ToString("dd/MM/yyyy") : Model.DeliveryDate.Value.ToString("dd/MM/yyyy"))" />
                                                                    <span class="input-group-addon">
                                                                        <i class="icon wb-calendar icon-2-5x text-success" aria-hidden="true"></i>
                                                                    </span>
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <label for="PriceValidity" class="col-sm-5 col-form-label">ยืนยันราคาภายใน(วัน)</label>
                                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                                    <input type="number" class="form-control" name="QuotationValidDay" value="@Model.QuotationValidDay" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="DueDate" class="col-sm-5 col-form-label">วันครบกำหนด (A)</label>
                                                                <div class="input-group col-lg-6 col-md-6 col-sm-12 date" data-provide="datepicker" data-date-format="dd/mm/yyyy">

                                                                    <input type="text" class="form-control" name="DueDate" value="@(Model.DueDate ==null ? DateTime.Now.ToString("dd/MM/yyyy") : Model.DueDate.Value.ToString("dd/MM/yyyy"))" readonly />
                                                                    <span class="input-group-addon">
                                                                        <i class="icon wb-calendar icon-2-5x text-success" aria-hidden="true"></i>
                                                                    </span>
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <label for="CreditDate" class="col-sm-5 col-form-label">จำนวนวันเครดิต</label>
                                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                                    <input type="number" class="form-control" name="QuotationCreditDay" value="@Model.QuotationCreditDay" />
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="SaleName" class="col-sm-5 col-form-label">*พนักงานขาย</label>
                                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                                    <select class="form-control" id="SaleId" data-live-search="true"
                                                                            name="SaleId" required>
                                                                        <option value="-1" )></option>
                                                                        @foreach (TblEmployee it in optEmployee)
                                                                        {
                                                                            bool selected = it.EmpId == (Model.SaleId == 0 ? (sysAccount.TblEmployee != null ? sysAccount.TblEmployee.EmpId : 0) : Model.SaleId);
                                                                            <option value="@it.EmpId" @(selected ? " selected=\" selected\"" : "")>@it.EmpNameTh</option>
                                                                        }
                                                                    </select>
                                                                    <input type="hidden" id="SaleName" name="SaleName" value="@Model.SaleName" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                @if (Model.StatusId <= 3)
                                                                {
                                                                    if (optPermission.IsEdit)
                                                                    {
                                                                        <button type="submit" id="btnNextStep" class="btn btn-primary">@(Model.QuotationId > 0 ? "บันทึก" : "ต่อไป")</button>
                                                                    }
                                                                    <a href="#" class="btn btn-default btnCancel ">ยกเลิก</a>
                                                                }

                                                                @if (Model.StatusId > 0 && Model.StatusId <= 3 && optPermission.IsManager )
                                                                {
                                                                    <button type="submit" id="btnConfirm" class="btn btn-success btnConfirm">
                                                                        อนุมัติ
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-content">

                            <div class="" id="navProducts" data-tab-page="navProducts">
                                <div class="col-12">
                                    <div class="">
                                        <div class="">
                                            <h3 class="panel-title">
                                                รายการสินค้า&nbsp;
                                            </h3>
                                        </div>
                                        <div class="">
                                            <form method="post" action="@Url.Action("AddProduct", "Quotation")" id="frmProduct" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-12">

                                                        <input type="hidden" name="QuotationId" value="@Model.QuotationId" />
                                                        <input type="hidden" name="SelQuotationProductId" id="SelQuotationProductId" />  <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-12">
                                                                <div class=" form-group">
                                                                    <label for="PileId" class="form-control-label">รหัสสินค้า</label>
                                                                    <div class="input-group">
                                                                        <select class="form-control" id="selProduct" data-live-search="true"
                                                                                name="selProduct">
                                                                            <option value="">กรุณาเลือก</option>

                                                                            @foreach (var it in optProduct.Where(o => o.PriceNet > 0))
                                                                            {
                                                                                <option value="@it.ProductId" title="@it.PriceNet">@it.ProductCode @it.ProductName </option>
                                                                            }



                                                                        </select>
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-outline-secondary btn-info" type="button"
                                                                                    id="btnProduct">
                                                                                ...
                                                                            </button>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="Qty" class="form-control-label">คลัง</label>
                                                                    <select class="form-control" id="selWareHose" data-live-search="true"
                                                                            name="selWareHose">
                                                                        <option value="">กรุณาเลือก</option>

                                                                        @foreach (var it in optWareHouse)
                                                                        {
                                                                            <option value="@it.Whid">@it.Whname</option>
                                                                        }



                                                                    </select>

                                                                </div>

                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-12 form-group">
                                                                <label for="Qty" class="form-control-label">คงเหลือ</label>
                                                                <input type="number" class="form-control" id="ProductOnhandQty" name="ProductOnhandQty" readonly value="" />
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-12 form-group">
                                                                <label for="Qty" class="form-control-label">จำนวน</label>
                                                                <input type="number" class="form-control" id="ProductQty" name="ProductQty" value="1" />
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-12 form-group">
                                                                <label for="Price" class="form-control-label">ราคา</label>
                                                                <input type="text" class="form-control Number" readonly id="ProductPrice" name="ProductPrice" />
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                                                                <label for="Discount" class="form-control-label">ส่วนลด</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control Number" id="ProductDiscount" name="ProductDiscount" />
                                                                    <div class="input-group-append">
                                                                        <select class="form-control selCalType" id="selCalType" name="selCalType">
                                                                            <option value="1">%</option>
                                                                            <option value="2">บาท</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                                                                <label for="NetPrice" class="form-control-label">ราคาสุทธิ</label>
                                                                <input type="text" class="form-control Number" readonly id="NetPrice" name="NetPrice" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4 col-sm-12 form-group">
                                                                <label for="Remark" class="form-control-label">หมายเหตุ</label>
                                                                <textarea class="form-control" id="Remark" name="Remark"></textarea>
                                                            </div>
                                                        </div>
                                                        @if (Model.StatusId <= 3 && optPermission.IsEdit)
                                                        {
                                                            <button type="submit" id="btnAddProduct" class="btn btn-primary">เพิ่ม</button>
                                                        }

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="table-responsive">

                                                            <table class="table table-hover table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        @if (!kemrex.IsMobileBrowser())
                                                                        {
                                                                            <th>สินค้า</th>
                                                                            <th>คลัง</th>
                                                                            <th>จำนวน</th>
                                                                            <th>ราคา</th>
                                                                            <th>ส่วนลด</th>
                                                                            <th>รวม</th>
                                                                            <th>รวม VAT(7%)</th>
                                                                            <th>เครื่องมือ</th>


                                                                            <th>หมายเหตุ</th>
                                                                        }
                                                                        else
                                                                        {
                                                                            <th>รายการ</th>

                                                                        }
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (!kemrex.IsMobileBrowser())
                                                                    {
                                                                        if (optQtDetail.Count() <= 0)
                                                                        {
                                                                            <tr>
                                                                                <td colspan="7">ไม่พบข้อมูล</td>
                                                                            </tr>
                                                                        }
                                                                        foreach (var ob in optQtDetail)
                                                                        {
                                                                            string calType = (ob.CalType == 1 ? string.Format("({0}%)", ob.Discount.ToString("#,#0.0")) : "(บาท)");
                                                                            <tr data="@ob.Id" ProductId="@ob.ProductId" Whid="@ob.WHId">

                                                                                <td>@ob.Product.ProductCode @ob.Product.ProductName</td>
                                                                                <td>@ob.WareHouse.Whname</td>
                                                                                <td>@ob.Quantity</td>
                                                                                <td>@ob.PriceUnit.ToString("#,#0.00")</td>
                                                                                <td>@ob.DiscountNet.ToString("#,#0.00") @calType</td>
                                                                                <td>@ob.TotalNet.Value.ToString("#,#0.00")</td>
                                                                                <td>@ob.TotalTot.Value.ToString("#,#0.00")</td>
                                                                                <td>
                                                                                    <input type="hidden" class="Discount" name="Discount" value="@ob.Discount" />


                                                                                    <input type="hidden" name="Id" value="@ob.Id" />
                                                                                    <input type="hidden" class="CalType" name="CalType" value="@ob.CalType" />
                                                                                    @* @Html.AntiForgeryToken()*@
                                                                                    @if (Model.StatusId <= 3)
                                                                                    {
                                                                                        <button type="submit" class="btn btn-primary btn-xs btnEditProduct" id="btnEditProduct"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;แก้ไข</button>


                                                                                        <button type="submit" name="btnDelete" class="btn btn-danger btn-xs btnDelete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;ลบ</button>
                                                                                    }

                                                                                </td>

                                                                               
                                                                                    <td>@ob.Remark</td>
                                                                               
                                                                            </tr>
                                                                        }
                                                                    }
                                                                    else
                                                                    {

                                                                        if (optQtDetail.Count() <= 0)
                                                                        {
                                                                            <tr>
                                                                                <td colspan="1">ไม่พบข้อมูล</td>
                                                                            </tr>
                                                                        }
                                                                        foreach (var ob in optQtDetail)
                                                                        {
                                                                            string calType = (ob.CalType == 1 ? string.Format("({0}%)", ob.Discount.ToString("#,#0.0")) : "(บาท)");
                                                                            <tr data="@ob.Id" ProductId="@ob.ProductId" Whid="@ob.WHId">
                                                                                <td>
                                                                                    <div class="content">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-5">
                                                                                        <div class="icon-big text-center"></div>
                                                                                            </div>
                                                                                        <div class="col-sm-10"><div>
    <div class="col-sm-12">
        <div class="textrow">
            <div class="text-primary"><b>สินค้า</b></div> : <div class="text-default">@ob.Product.ProductCode @ob.Product.ProductName</div>
        </div>
    </div><div class="col-sm-12">
        <div class="textrow">
            <div class="text-primary"><b>คลัง</b></div>  : @ob.WareHouse.Whname
        </div>
    </div>
    <div class="col-sm-12">
        <div class="textrow">
            <div class="text-primary"><b>จำนวน</b></div> : @ob.Quantity
        </div>
    </div>
    <div class="col-sm-12">
        <div class="textrow">
            <div class="text-primary"><b>ราคา</b></div> : @ob.PriceUnit.ToString("#,#0.00")
        </div>
    </div>

    <div class="col-sm-12">
        <div class="textrow">
            <div class="text-primary"><b>ส่วนลด</b></div> : @ob.DiscountNet.ToString("#,#0.00")
        </div>
    </div>
    <div class="col-sm-12">
        <div class="textrow">
            <div class="text-primary"><b>รวม</b></div> : @ob.TotalNet.Value.ToString("#,#0.00")
        </div>
    </div>
    <div class="col-sm-12">
        <div class="textrow">
            <div class="text-primary"><b>รวม VAT(7%)</b></div> : @ob.TotalTot.Value.ToString("#,#0.00")
        </div>
    </div>

    <div class="col-sm-12">
        <div class="textrow">
            <div class="text-primary"><b>หมายเหตุ</b></div> :@ob.Remark
        </div>
    </div>
    <div>

        @if (Model.StatusId <= 3)
        {
            <button type="submit" class="btn btn-primary btn-md btn-floating btnEditProduct" id="btnEditProduct">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>


            <button type="submit" name="btnDelete" class="btn btn-danger btn-floating btn-md btnDelete">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        }


    </div>
</div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </td>

                                                                            </tr>
                                                                         }
                                                                             
                                                                      }
                                                                        </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-footer">

                                        </div>
                                    </div>
                                    <div class="panel">

                                        <div class="col-md-auto">
                                            ผลรวม
                                            <hr size=2>
                                            <form method="post" id="frmDiscount" action="@Url.Action("saveDiscount", "Quotation")" enctype="multipart/form-data">
                                                <input type="hidden" name="QuotationId" value="@Model.QuotationId" />
                                                <div class="form-group row">
                                                    <label for="SubTotal" class="col-sm-5 col-form-label">ยอดก่อนลด</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="SubTotal" name="SubTotalNet"
                                                               style="text-align: right"
                                                               value="@(Model.SubTotalNet.HasValue?Model.SubTotalNet.Value.ToString("#,#0.00"):"0")" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Discount" class="col-sm-5 col-form-label">ส่วนลดในรายการ</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="Discount"
                                                               style="text-align: right"
                                                               value="@(Model.DiscountNet.HasValue?Model.DiscountNet.Value.ToString("#,#0.00"):"0")" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="TotalDiscount" class="col-sm-5 col-form-label">ยอดหลังหักส่วนลด</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="TotalDiscount" style="text-align: right" value="@(Model.SummaryNet.HasValue?Model.SummaryNet.Value.ToString("#,#0.00"):"0")" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Vat" class="col-sm-5 col-form-label">อัตราภาษี(7%)</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="Vat"
                                                               style="text-align: right"
                                                               value="@(Model.SummaryVat.HasValue?Model.SummaryVat.Value.ToString("#,#0.00"):"0")" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Discount" class="col-sm-5 col-form-label">ส่วนลดเงินสด</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="DiscountCash" name="DiscountCash"
                                                               style="text-align: right"
                                                               value="@(Model.DiscountCash!=null?Model.DiscountCash.ToString("#,#0.00"):"0")" onChange="calDiscount()" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Total" class="col-sm-5 col-form-label">จำนวนทั้งสิ้น</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="SummaryTot"
                                                               style="text-align: right"
                                                               value="@(Model.SummaryTot.HasValue?Model.SummaryTot.Value.ToString("#,#0.00"):"0")" readonly />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            @if (Model.StatusId <= 3)
                                                            {
                                                                if (optPermission.IsEdit)
                                                                {
                                                                    <button type="submit" class="btn btn-primary btnDiscount">บันทึก/ส่วนลด</button>
                                                                }
                                                                <a href="@Url.Action("Detail", "Quotation")" class="btn btn-default">ยกเลิก</a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                        @*Panel Address*@
                        <div class="card-block" data-tab-page="navAddress">

                        </div>
                        @*End Panel Address*@

                        @*panel Add Product*@


                        @*End panel Add product*@
                    </div>
        </div>
    </div>

    <!-- Address Modal -->
    <div class="modal fade" id="AddressModal" tabindex="-1" role="dialog" aria-labelledby="จัดการที่อยู่" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbCustomerId" hidden></label></h5>
                    <h2><label id="lbCustomerName">ไม่พบข้อมูลลูกค้า</label></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    @*<a href="@Url.Action("Detail", new { area = "", cusId = Model.CustomerId, qtid = Model.QuotationId, controller = "CustomerAddress" })"
                        class="btn btn-xs btn-primary" style="color:white;" id="bnAddnewAddress">เพิ่ม</a>*@
                    <a href="#"
                       onclick="location.href='@Url.Action("Detail", "CustomerAddress")?cusId=' + $('#CustomerId').val() + '&qtid=' + $('#QuotationId').val()"
                       class="btn btn-xs btn-primary" style="color:white;" id="bnAddnewAddress">เพิ่ม</a>

                    @*<a href="@Url.Action("Detail", "CustomerContact", new { area = "",cusId=Model.CustomerId,qtid=Model.QuotationId })"*@

                    <a href="#"
                       onclick="location.href='@Url.Action("Detail", "CustomerContact")?cusId=' + $('#CustomerId').val() + '&qtid=' + $('#QuotationId').val()"
                       class="btn btn-xs btn-primary" style="color:white;" id="bnAddnewContact">เพิ่ม</a>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>กรุณาเลือก</th>
                                    <th>รายการ</th>
                                </tr>
                            </thead>
                            <tbody id="manageCustomerAddress"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>



    <!-- Quotation Modal -->
    <div class="modal fade" id="CustomerModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-outline-secondary btn-primary btnSearchCustomer " type="button"
                            id="btnSearchCustomer">
                        ค้นหา
                    </button>
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbCustomerName" hidden></label></h5>
                    <h2></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Discount" class="col-sm-12 col-form-label">รหัสลูกค้า</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="searchCustomerNo" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Discount" class="col-sm-12 col-form-label">ชื่อลูกค้า</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="searchCustomerName" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Discount" class="col-sm-12 col-form-label">ผู้ติดต่อ</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="searchContactName" />
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive divCustomer">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>กรุณาเลือก</th>
                                            <th>รหัสลูกค้า</th>
                                            <th>ชื่อลูกค้า</th>
                                            <th>ผู้ติดต่อ</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>
    <!-- Product Modal -->
    <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-outline-secondary btn-primary btnSearchProduct " type="button"
                            id="btnSearchProduct">
                        ค้นหา
                    </button>
                    <h5 class="modal-title" id="AddressModalTitle"><label id="lbCustomerName" hidden></label></h5>
                    <h2></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Discount" class="col-sm-12 col-form-label">รหัสสินค้า</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="searchProductCode" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Discount" class="col-sm-12 col-form-label">ชื่อสินค้า</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="searchProductName" />
                                </div>
                            </div>

                        </div>
                       

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive divProduct">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>กรุณาเลือก</th>
                                            <th>รหัสสินค้า</th>
                                            <th>ชื่อสินค้า</th>
                                            <th>ราคาต่อหน่วย</th>
                                            <th>Qty คงเหลือ</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>

</body>
